extends ../base
block title
  |Apksitory
block main
  div.hero
    div.container
      h1.hero__title Best Games And Apps Database
      p.hero__descr The Games Search Engine, Thousands of best games
      div.search.is-hero
        div.hero__wrap
          form.search__form
            div.search__field
              span.search__icon
                i.icon.icon-search
              input.input(type='text', placeholder='Search here')
            div.search__action
              button.btn(type='submit')
                span Search
  main.main
    section.section.is-main
      div.container
        div.section__wrap
          div.section__left
            div.block-header
              div.block-header__left
                a.block-header__link(href='#')
                  h2.block-header__title Popular Apps
              div.block-header__right
                a.block-header__link(href='#') More &raquo;
            div.apps-container.is-table
              div.app
                div.app__left
                  a(href='#')
                    img(src=require('../../../media/images/icon-app.png'))
                div.app__right
                  a(href='#').app__name Ludo King
                  div.stars
                    span.score(title='Tales of Wind average rating 7.9' style='width:79%')
                    span.star 7.9
                  span.app__view Action
                  div.down
                    a(href='#') Download APK
              div.app
                div.app__left
                  a(href='#')
                    img(src=require('../../../media/images/icon-app.png'))
                div.app__right
                  a(href='#').app__name Sand Balls
                  div.stars
                    span.score(title='Tales of Wind average rating 6.9' style='width:69%')
                    span.star 6.9
                  span.app__view Action
                  div.down
                    a(href='#') Download APK
              div.app
                div.app__left
                  a(href='#')
                    img(src=require('../../../media/images/icon-app.png'))
                div.app__right
                  a(href='#').app__name Anti-Terrorism Commando Mission 2019
                  div.stars
                    span.score(title='Tales of Wind average rating 7.9' style='width:79%')
                    span.star 7.9
                  span.app__view Action
                  div.down
                    a(href='#') Download APK
              div.app
                div.app__left
                  a(href='#')
                    img(src=require('../../../media/images/icon-app.png'))
                div.app__right
                  a(href='#').app__name Sand Balls
                  div.stars
                    span.score(title='Tales of Wind average rating 6.9' style='width:69%')
                    span.star 6.9
                  span.app__view Action
                  div.down
                    a(href='#') Download APK
              div.app
                div.app__left
                  a(href='#')
                    img(src=require('../../../media/images/icon-app.png'))
                div.app__right
                  a(href='#').app__name Ludo King
                  div.stars
                    span.score(title='Tales of Wind average rating 7.9' style='width:79%')
                    span.star 7.9
                  span.app__view Action
                  div.down
                    a(href='#') Download APK
              div.app
                div.app__left
                  a(href='#')
                    img(src=require('../../../media/images/icon-app.png'))
                div.app__right
                  a(href='#').app__name Ludo King
                  div.stars
                    span.score(title='Tales of Wind average rating 7.9' style='width:79%')
                    span.star 7.9
                  span.app__view Action
                  div.down
                    a(href='#') Download APK
              div.app
                div.app__left
                  a(href='#')
                    img(src=require('../../../media/images/icon-app.png'))
                div.app__right
                  a(href='#').app__name Ludo King
                  div.stars
                    span.score(title='Tales of Wind average rating 7.9' style='width:79%')
                    span.star 7.9
                  span.app__view Action
                  div.down
                    a(href='#') Download APK
              div.app
                div.app__left
                  a(href='#')
                    img(src=require('../../../media/images/icon-app.png'))
                div.app__right
                  a(href='#').app__name Ludo King
                  div.stars
                    span.score(title='Tales of Wind average rating 7.9' style='width:79%')
                    span.star 7.9
                  span.app__view Action
                  div.down
                    a(href='#') Download APK
              div.app
                div.app__left
                  a(href='#')
                    img(src=require('../../../media/images/icon-app.png'))
                div.app__right
                  a(href='#').app__name Ludo King
                  div.stars
                    span.score(title='Tales of Wind average rating 7.9' style='width:79%')
                    span.star 7.9
                  span.app__view Action
                  div.down
                    a(href='#') Download APK
              div.app
                div.app__left
                  a(href='#')
                    img(src=require('../../../media/images/icon-app.png'))
                div.app__right
                  a(href='#').app__name Ludo King
                  div.stars
                    span.score(title='Tales of Wind average rating 7.9' style='width:79%')
                    span.star 7.9
                  span.app__view Action
                  div.down
                    a(href='#') Download APK
              div.app
                div.app__left
                  a(href='#')
                    img(src=require('../../../media/images/icon-app.png'))
                div.app__right
                  a(href='#').app__name Ludo King
                  div.stars
                    span.score(title='Tales of Wind average rating 7.9' style='width:79%')
                    span.star 7.9
                  span.app__view Action
                  div.down
                    a(href='#') Download APK
              div.app
                div.app__left
                  a(href='#')
                    img(src=require('../../../media/images/icon-app.png'))
                div.app__right
                  a(href='#').app__name Ludo King
                  div.stars
                    span.score(title='Tales of Wind average rating 7.9' style='width:79%')
                    span.star 7.9
                  span.app__view Action
                  div.down
                    a(href='#') Download APK
            div.block-header
              div.block-header__left
                a.block-header__link(href='#')
                  h2.block-header__title Popular Games
              div.block-header__right
                a.block-header__link(href='#') More &raquo;
            div.apps-container.is-table
              div.app
                div.app__left
                  a(href='#')
                    img(src=require('../../../media/images/icon-app.png'))
                div.app__right
                  a(href='#').app__name Ludo King
                  div.stars
                    span.score(title='Tales of Wind average rating 7.9' style='width:79%')
                    span.star 7.9
                  span.app__view Action
                  div.down
                    a(href='#') Download APK
              div.app
                div.app__left
                  a(href='#')
                    img(src=require('../../../media/images/icon-app.png'))
                div.app__right
                  a(href='#').app__name Sand Balls
                  div.stars
                    span.score(title='Tales of Wind average rating 6.9' style='width:69%')
                    span.star 6.9
                  span.app__view Action
                  div.down
                    a(href='#') Download APK
              div.app
                div.app__left
                  a(href='#')
                    img(src=require('../../../media/images/icon-app.png'))
                div.app__right
                  a(href='#').app__name Anti-Terrorism Commando Mission 2019
                  div.stars
                    span.score(title='Tales of Wind average rating 7.9' style='width:79%')
                    span.star 7.9
                  span.app__view Action
                  div.down
                    a(href='#') Download APK
              div.app
                div.app__left
                  a(href='#')
                    img(src=require('../../../media/images/icon-app.png'))
                div.app__right
                  a(href='#').app__name Sand Balls
                  div.stars
                    span.score(title='Tales of Wind average rating 6.9' style='width:69%')
                    span.star 6.9
                  span.app__view Action
                  div.down
                    a(href='#') Download APK
              div.app
                div.app__left
                  a(href='#')
                    img(src=require('../../../media/images/icon-app.png'))
                div.app__right
                  a(href='#').app__name Ludo King
                  div.stars
                    span.score(title='Tales of Wind average rating 7.9' style='width:79%')
                    span.star 7.9
                  span.app__view Action
                  div.down
                    a(href='#') Download APK
              div.app
                div.app__left
                  a(href='#')
                    img(src=require('../../../media/images/icon-app.png'))
                div.app__right
                  a(href='#').app__name Ludo King
                  div.stars
                    span.score(title='Tales of Wind average rating 7.9' style='width:79%')
                    span.star 7.9
                  span.app__view Action
                  div.down
                    a(href='#') Download APK
              div.app
                div.app__left
                  a(href='#')
                    img(src=require('../../../media/images/icon-app.png'))
                div.app__right
                  a(href='#').app__name Ludo King
                  div.stars
                    span.score(title='Tales of Wind average rating 7.9' style='width:79%')
                    span.star 7.9
                  span.app__view Action
                  div.down
                    a(href='#') Download APK
              div.app
                div.app__left
                  a(href='#')
                    img(src=require('../../../media/images/icon-app.png'))
                div.app__right
                  a(href='#').app__name Ludo King
                  div.stars
                    span.score(title='Tales of Wind average rating 7.9' style='width:79%')
                    span.star 7.9
                  span.app__view Action
                  div.down
                    a(href='#') Download APK
              div.app
                div.app__left
                  a(href='#')
                    img(src=require('../../../media/images/icon-app.png'))
                div.app__right
                  a(href='#').app__name Ludo King
                  div.stars
                    span.score(title='Tales of Wind average rating 7.9' style='width:79%')
                    span.star 7.9
                  span.app__view Action
                  div.down
                    a(href='#') Download APK
              div.app
                div.app__left
                  a(href='#')
                    img(src=require('../../../media/images/icon-app.png'))
                div.app__right
                  a(href='#').app__name Ludo King
                  div.stars
                    span.score(title='Tales of Wind average rating 7.9' style='width:79%')
                    span.star 7.9
                  span.app__view Action
                  div.down
                    a(href='#') Download APK
              div.app
                div.app__left
                  a(href='#')
                    img(src=require('../../../media/images/icon-app.png'))
                div.app__right
                  a(href='#').app__name Ludo King
                  div.stars
                    span.score(title='Tales of Wind average rating 7.9' style='width:79%')
                    span.star 7.9
                  span.app__view Action
                  div.down
                    a(href='#') Download APK
              div.app
                div.app__left
                  a(href='#')
                    img(src=require('../../../media/images/icon-app.png'))
                div.app__right
                  a(href='#').app__name Ludo King
                  div.stars
                    span.score(title='Tales of Wind average rating 7.9' style='width:79%')
                    span.star 7.9
                  span.app__view Action
                  div.down
                    a(href='#') Download APK
            div.block-header
              div.block-header__left
                a.block-header__link(href='#')
                  h2.block-header__title Last Updates Apps
              div.block-header__right
                a.block-header__link(href='#') More &raquo;
            div.apps-container.is-table
              div.app
                div.app__left
                  a(href='#')
                    img(src=require('../../../media/images/icon-app.png'))
                div.app__right
                  a(href='#').app__name Ludo King
                  div.stars
                    span.score(title='Tales of Wind average rating 7.9' style='width:79%')
                    span.star 7.9
                  span.app__view Action
                  div.down
                    a(href='#') Download APK
              div.app
                div.app__left
                  a(href='#')
                    img(src=require('../../../media/images/icon-app.png'))
                div.app__right
                  a(href='#').app__name Sand Balls
                  div.stars
                    span.score(title='Tales of Wind average rating 6.9' style='width:69%')
                    span.star 6.9
                  span.app__view Action
                  div.down
                    a(href='#') Download APK
              div.app
                div.app__left
                  a(href='#')
                    img(src=require('../../../media/images/icon-app.png'))
                div.app__right
                  a(href='#').app__name Anti-Terrorism Commando Mission 2019
                  div.stars
                    span.score(title='Tales of Wind average rating 7.9' style='width:79%')
                    span.star 7.9
                  span.app__view Action
                  div.down
                    a(href='#') Download APK
              div.app
                div.app__left
                  a(href='#')
                    img(src=require('../../../media/images/icon-app.png'))
                div.app__right
                  a(href='#').app__name Sand Balls
                  div.stars
                    span.score(title='Tales of Wind average rating 6.9' style='width:69%')
                    span.star 6.9
                  span.app__view Action
                  div.down
                    a(href='#') Download APK
              div.app
                div.app__left
                  a(href='#')
                    img(src=require('../../../media/images/icon-app.png'))
                div.app__right
                  a(href='#').app__name Ludo King
                  div.stars
                    span.score(title='Tales of Wind average rating 7.9' style='width:79%')
                    span.star 7.9
                  span.app__view Action
                  div.down
                    a(href='#') Download APK
              div.app
                div.app__left
                  a(href='#')
                    img(src=require('../../../media/images/icon-app.png'))
                div.app__right
                  a(href='#').app__name Ludo King
                  div.stars
                    span.score(title='Tales of Wind average rating 7.9' style='width:79%')
                    span.star 7.9
                  span.app__view Action
                  div.down
                    a(href='#') Download APK
            div.block-header
              div.block-header__left
                a.block-header__link(href='#')
                  h2.block-header__title Last Updates Games
              div.block-header__right
                a.block-header__link(href='#') More &raquo;
            div.apps-container.is-table
              div.app
                div.app__left
                  a(href='#')
                    img(src=require('../../../media/images/icon-app.png'))
                div.app__right
                  a(href='#').app__name Ludo King
                  div.stars
                    span.score(title='Tales of Wind average rating 7.9' style='width:79%')
                    span.star 7.9
                  span.app__view Action
                  div.down
                    a(href='#') Download APK
              div.app
                div.app__left
                  a(href='#')
                    img(src=require('../../../media/images/icon-app.png'))
                div.app__right
                  a(href='#').app__name Sand Balls
                  div.stars
                    span.score(title='Tales of Wind average rating 6.9' style='width:69%')
                    span.star 6.9
                  span.app__view Action
                  div.down
                    a(href='#') Download APK
              div.app
                div.app__left
                  a(href='#')
                    img(src=require('../../../media/images/icon-app.png'))
                div.app__right
                  a(href='#').app__name Anti-Terrorism Commando Mission 2019
                  div.stars
                    span.score(title='Tales of Wind average rating 7.9' style='width:79%')
                    span.star 7.9
                  span.app__view Action
                  div.down
                    a(href='#') Download APK
              div.app
                div.app__left
                  a(href='#')
                    img(src=require('../../../media/images/icon-app.png'))
                div.app__right
                  a(href='#').app__name Sand Balls
                  div.stars
                    span.score(title='Tales of Wind average rating 6.9' style='width:69%')
                    span.star 6.9
                  span.app__view Action
                  div.down
                    a(href='#') Download APK
              div.app
                div.app__left
                  a(href='#')
                    img(src=require('../../../media/images/icon-app.png'))
                div.app__right
                  a(href='#').app__name Ludo King
                  div.stars
                    span.score(title='Tales of Wind average rating 7.9' style='width:79%')
                    span.star 7.9
                  span.app__view Action
                  div.down
                    a(href='#') Download APK
              div.app
                div.app__left
                  a(href='#')
                    img(src=require('../../../media/images/icon-app.png'))
                div.app__right
                  a(href='#').app__name Ludo King
                  div.stars
                    span.score(title='Tales of Wind average rating 7.9' style='width:79%')
                    span.star 7.9
                  span.app__view Action
                  div.down
                    a(href='#') Download APK
            div.block-header
              div.block-header__left
                a.block-header__link(href='#')
                  h2.block-header__title New Apps
              div.block-header__right
                a.block-header__link(href='#') More &raquo;
            div.apps-container.is-table
              div.app
                div.app__left
                  a(href='#')
                    img(src=require('../../../media/images/icon-app.png'))
                div.app__right
                  a(href='#').app__name Ludo King
                  div.stars
                    span.score(title='Tales of Wind average rating 7.9' style='width:79%')
                    span.star 7.9
                  span.app__view Action
                  div.down
                    a(href='#') Download APK
              div.app
                div.app__left
                  a(href='#')
                    img(src=require('../../../media/images/icon-app.png'))
                div.app__right
                  a(href='#').app__name Sand Balls
                  div.stars
                    span.score(title='Tales of Wind average rating 6.9' style='width:69%')
                    span.star 6.9
                  span.app__view Action
                  div.down
                    a(href='#') Download APK
              div.app
                div.app__left
                  a(href='#')
                    img(src=require('../../../media/images/icon-app.png'))
                div.app__right
                  a(href='#').app__name Anti-Terrorism Commando Mission 2019
                  div.stars
                    span.score(title='Tales of Wind average rating 7.9' style='width:79%')
                    span.star 7.9
                  span.app__view Action
                  div.down
                    a(href='#') Download APK
              div.app
                div.app__left
                  a(href='#')
                    img(src=require('../../../media/images/icon-app.png'))
                div.app__right
                  a(href='#').app__name Sand Balls
                  div.stars
                    span.score(title='Tales of Wind average rating 6.9' style='width:69%')
                    span.star 6.9
                  span.app__view Action
                  div.down
                    a(href='#') Download APK
              div.app
                div.app__left
                  a(href='#')
                    img(src=require('../../../media/images/icon-app.png'))
                div.app__right
                  a(href='#').app__name Ludo King
                  div.stars
                    span.score(title='Tales of Wind average rating 7.9' style='width:79%')
                    span.star 7.9
                  span.app__view Action
                  div.down
                    a(href='#') Download APK
              div.app
                div.app__left
                  a(href='#')
                    img(src=require('../../../media/images/icon-app.png'))
                div.app__right
                  a(href='#').app__name Ludo King
                  div.stars
                    span.score(title='Tales of Wind average rating 7.9' style='width:79%')
                    span.star 7.9
                  span.app__view Action
                  div.down
                    a(href='#') Download APK
            div.block-header
              div.block-header__left
                a.block-header__link(href='#')
                  h2.block-header__title New Games
              div.block-header__right
                a.block-header__link(href='#') More &raquo;
            div.apps-container.is-table
              div.app
                div.app__left
                  a(href='#')
                    img(src=require('../../../media/images/icon-app.png'))
                div.app__right
                  a(href='#').app__name Ludo King
                  div.stars
                    span.score(title='Tales of Wind average rating 7.9' style='width:79%')
                    span.star 7.9
                  span.app__view Action
                  div.down
                    a(href='#') Download APK
              div.app
                div.app__left
                  a(href='#')
                    img(src=require('../../../media/images/icon-app.png'))
                div.app__right
                  a(href='#').app__name Sand Balls
                  div.stars
                    span.score(title='Tales of Wind average rating 6.9' style='width:69%')
                    span.star 6.9
                  span.app__view Action
                  div.down
                    a(href='#') Download APK
              div.app
                div.app__left
                  a(href='#')
                    img(src=require('../../../media/images/icon-app.png'))
                div.app__right
                  a(href='#').app__name Anti-Terrorism Commando Mission 2019
                  div.stars
                    span.score(title='Tales of Wind average rating 7.9' style='width:79%')
                    span.star 7.9
                  span.app__view Action
                  div.down
                    a(href='#') Download APK
              div.app
                div.app__left
                  a(href='#')
                    img(src=require('../../../media/images/icon-app.png'))
                div.app__right
                  a(href='#').app__name Sand Balls
                  div.stars
                    span.score(title='Tales of Wind average rating 6.9' style='width:69%')
                    span.star 6.9
                  span.app__view Action
                  div.down
                    a(href='#') Download APK
              div.app
                div.app__left
                  a(href='#')
                    img(src=require('../../../media/images/icon-app.png'))
                div.app__right
                  a(href='#').app__name Ludo King
                  div.stars
                    span.score(title='Tales of Wind average rating 7.9' style='width:79%')
                    span.star 7.9
                  span.app__view Action
                  div.down
                    a(href='#') Download APK
              div.app
                div.app__left
                  a(href='#')
                    img(src=require('../../../media/images/icon-app.png'))
                div.app__right
                  a(href='#').app__name Ludo King
                  div.stars
                    span.score(title='Tales of Wind average rating 7.9' style='width:79%')
                    span.star 7.9
                  span.app__view Action
                  div.down
                    a(href='#') Download APK
          div.section__right
            aside.aside
              div.block-header.with-border
                h2.block-header__title App Categories
              div.categories
                ul.categories__list
                  li.categories__el
                    a.categories__link(href='#')
                      span.icon.icon-artndesign
                      |Art & Design
                  li.categories__el
                    a.categories__link(href='#')
                      span.icon.icon-autonvehicles
                      |Auto & Vehicles
                  li.categories__el
                    a.categories__link(href='#')
                      span.icon.icon-beauty
                      |Beauty
                  li.categories__el
                    a.categories__link(href='#')
                      span.icon.icon-books
                      |Books & Reference
                  li.categories__el
                    a.categories__link(href='#')
                      span.icon.icon-business
                      | Business
                  li.categories__el
                    a.categories__link(href='#')
                      span.icon.icon-comics
                      | Comics
                  li.categories__el
                    a.categories__link(href='#')
                      span.icon.icon-communication
                      | Communication
                  li.categories__el
                    a.categories__link(href='#')
                      span.icon.icon-dating
                      | Dating
                  li.categories__el
                    a.categories__link(href='#')
                      span.icon.icon-education
                      | Education
                  li.categories__el
                    a.categories__link(href='#')
                      span.icon.icon-entertainment
                      | Entertainment
                  li.categories__el
                    a.categories__link(href='#')
                      span.icon.icon-events
                      | Events
                  li.categories__el
                    a.categories__link(href='#')
                      span.icon.icon-finance
                      | Finance
                  li.categories__el
                    a.categories__link(href='#')
                      span.icon.icon-food
                      | Food & Drink
                  li.categories__el
                    a.categories__link(href='#')
                      span.icon.icon-health
                      | Health & Fitness
                  li.categories__el
                    a.categories__link(href='#')
                      span.icon.icon-housenhome
                      | House & Home
                  li.categories__el
                    a.categories__link(href='#')
                      span.icon.icon-ligrariesndemo
                      | Libraries & Demo
                  li.categories__el
                    a.categories__link(href='#')
                      span.icon.icon-lifestyle
                      | Lifestyle
                  li.categories__el
                    a.categories__link(href='#')
                      span.icon.icon-maps
                      | Maps & Navigation
                  li.categories__el
                    a.categories__link(href='#')
                      span.icon.icon-medical
                      | Medical
                  li.categories__el
                    a.categories__link(href='#')
                      span.icon.icon-music
                      | Music & Audio
                  li.categories__el
                    a.categories__link(href='#')
                      span.icon.icon-news
                      | News & Magazines
                  li.categories__el
                    a.categories__link(href='#')
                      span.icon.icon-parenting
                      | Parenting
                  li.categories__el
                    a.categories__link(href='#')
                      span.icon.icon-personalization
                      | Personalization
                  li.categories__el
                    a.categories__link(href='#')
                      span.icon.icon-photograph
                      | Photography
                  li.categories__el
                    a.categories__link(href='#')
                      span.icon.icon-productivity
                      | Productivity
                  li.categories__el
                    a.categories__link(href='#')
                      span.icon.icon-shopping
                      | Shopping
                  li.categories__el
                    a.categories__link(href='#')
                      span.icon.icon-social
                      | Social
                  li.categories__el
                    a.categories__link(href='#')
                      span.icon.icon-sport
                      | Sports
                  li.categories__el
                    a.categories__link(href='#')
                      span.icon.icon-tools
                      | Tools
                  li.categories__el
                    a.categories__link(href='#')
                      span.icon.icon-travel
                      | Travel & Local
                  li.categories__el
                    a.categories__link(href='#')
                      span.icon.icon-video
                      | Video Players & Editors
                  li.categories__el
                    a.categories__link(href='#')
                      span.icon.icon-weather
                      | Weather
              div.block-header.with-border
                h2.block-header__title Game Categories
              div.categories
                ul.categories__list
                  li.categories__el
                    a.categories__link(href='#')
                      span.icon.icon-action
                      | Action
                  li.categories__el
                    a.categories__link(href='#')
                      span.icon.icon-adventure
                      | Adventure
                  li.categories__el
                    a.categories__link(href='#')
                      span.icon.icon-arcade
                      |Arcade
                  li.categories__el
                    a.categories__link(href='#')
                      span.icon.icon-board
                      | Board
                  li.categories__el
                    a.categories__link(href='#')
                      span.icon.icon-card
                      | Card
                  li.categories__el
                    a.categories__link(href='#')
                      span.icon.icon-casino
                      | Casino
                  li.categories__el
                    a.categories__link(href='#')
                      span.icon.icon-casual
                      | Casual
                  li.categories__el
                    a.categories__link(href='#')
                      span.icon.icon-educational
                      | Educational
                  li.categories__el
                    a.categories__link(href='#')
                      span.icon.icon-music
                      | Music
                  li.categories__el
                    a.categories__link(href='#')
                      span.icon.icon-puzzle
                      | Puzzle
                  li.categories__el
                    a.categories__link(href='#')
                      span.icon.icon-racing
                      | Racing
                  li.categories__el
                    a.categories__link(href='#')
                      span.icon.icon-roleplaying
                      | Role Playing
                  li.categories__el
                    a.categories__link(href='#')
                      span.icon.icon-simulation
                      | Simulation
                  li.categories__el
                    a.categories__link(href='#')
                      span.icon.icon-sports
                      | Sports
                  li.categories__el
                    a.categories__link(href='#')
                      span.icon.icon-strategy
                      | Strategy
                  li.categories__el
                    a.categories__link(href='#')
                      span.icon.icon-trivia
                      | Trivia
                  li.categories__el
                    a.categories__link(href='#')
                      span.icon.icon-words
                      | Word
                  li.categories__el
                    a.categories__link(href='#')
                      span.icon.icon-family
                      | Family
              div.block-header
                div.block-header__left
                  h2.block-header__title Top Downloads
                div.block-header__right
                  a.block-header__link(href='#') More &raquo;
              div.apps-container.is-list
                div.app
                  div.label-wrap.is-red
                    div.label
                      span 1
                  div.app__left
                    a(href='#')
                      img(src=require('../../../media/images/app.png'))
                  div.app__right
                    a(href='#').app__name Minecraft Earth
                    span.app__version 2019.1030.04.0
                    span.app__view Tools
                    div.down
                      a(href='#') Download APK
                div.app
                  div.label-wrap.is-orange
                    div.label
                      span 2
                  div.app__left
                    a(href='#')
                      img(src=require('../../../media/images/app.png'))
                  div.app__right
                    a(href='#').app__name Minecraft Earth
                    span.app__version 2019.1030.04.0
                    span.app__view Tools
                    div.down
                      a(href='#') Download APK
                div.app
                  div.label-wrap.is-yellow
                    div.label
                      span 3
                  div.app__left
                    a(href='#')
                      img(src=require('../../../media/images/app.png'))
                  div.app__right
                    a(href='#').app__name Minecraft Earth
                    span.app__version 2019.1030.04.0
                    span.app__view Tools
                    div.down
                      a(href='#') Download APK
                div.app
                  div.label-wrap
                    div.label
                      span 4
                  div.app__left
                    a(href='#')
                      img(src=require('../../../media/images/app.png'))
                  div.app__right
                    a(href='#').app__name Minecraft Earth
                    span.app__version 2019.1030.04.0
                    span.app__view Tools
                    div.down
                      a(href='#') Download APK
                div.app
                  div.label-wrap
                    div.label
                      span 5
                  div.app__left
                    a(href='#')
                      img(src=require('../../../media/images/app.png'))
                  div.app__right
                    a(href='#').app__name Minecraft Earth
                    span.app__version 2019.1030.04.0
                    span.app__view Tools
                    div.down
                      a(href='#') Download APK
                div.app
                  div.label-wrap
                    div.label
                      span 6
                  div.app__left
                    a(href='#')
                      img(src=require('../../../media/images/app.png'))
                  div.app__right
                    a(href='#').app__name Minecraft Earth
                    span.app__version 2019.1030.04.0
                    span.app__view Tools
                    div.down
                      a(href='#') Download APK
                div.app
                  div.label-wrap
                    div.label
                      span 7
                  div.app__left
                    a(href='#')
                      img(src=require('../../../media/images/app.png'))
                  div.app__right
                    a(href='#').app__name Minecraft Earth
                    span.app__version 2019.1030.04.0
                    span.app__view Tools
                    div.down
                      a(href='#') Download APK
                div.app
                  div.label-wrap
                    div.label
                      span 8
                  div.app__left
                    a(href='#')
                      img(src=require('../../../media/images/app.png'))
                  div.app__right
                    a(href='#').app__name Minecraft Earth
                    span.app__version 2019.1030.04.0
                    span.app__view Tools
                    div.down
                      a(href='#') Download APK
                div.app
                  div.label-wrap
                    div.label
                      span 9
                  div.app__left
                    a(href='#')
                      img(src=require('../../../media/images/app.png'))
                  div.app__right
                    a(href='#').app__name Minecraft Earth
                    span.app__version 2019.1030.04.0
                    span.app__view Tools
                    div.down
                      a(href='#') Download APK
                div.app
                  div.label-wrap
                    div.label
                      span 10
                  div.app__left
                    a(href='#')
                      img(src=require('../../../media/images/app.png'))
                  div.app__right
                    a(href='#').app__name Minecraft Earth
                    span.app__version 2019.1030.04.0
                    span.app__view Tools
                    div.down
                      a(href='#') Download APK






