extends ../base
block title
  |Apksitory
block main
  main.main
    div.breadcrumbs-wrap
      div.container
        ul.breadcrumbs
          li.breadcrumbs__el
            a.breadcrumbs__link(href='#')
              span.icon.icon-breadcumb-home
          li.breadcrumbs__el
            a.breadcrumbs__link(href='#') Apps
          li.breadcrumbs__el
            a.breadcrumbs__link(href='#') Social
          li.breadcrumbs__el
            a.breadcrumbs__link(href='#') HAGO - Play With New Friends

    section.section.is-1-inner
      div.container
        div.section__wrap
          div.section__left
            div.product
              div.product__left
                img.lazy(
                  src=require('media/images/loading.gif')
                  data-src=require('media/images/icon-small-100.png')
                  data-srcset=`${require('media/images/icon-small-100.png')} 1x, ${require('media/images/icon-big-200.png')} 2x`
                )
              div.product__right
                h1.product__title HAGO - Play With New Friends
                span.product__rating <span class='green'>3.4.9</span> for Android
                a(href='#').product__link Hago Games
            div.banner
              a.banner__link(href='#' target='_blank')
                img.banner__img(src=require('../../../media/images/banner.png'))
            div.preview
              img(src=require('../../../media/images/preview.png'))
            div.describe#describe
              div.describe__content
                h2 The description of HAGO - Play With New Friends
                div
                  p With over 100 Million Downloads Hago has received a lot of love from the players around the globe. Download and enjoy Games, Channels, Voice Chatting and have unlimited fun. Hago can be your getaway for all social and casual needs.
                  span 80+ Games:
                  p 180 seconds of endless fun and over 80+ games to play, this will be your new addiction. Ready to get hooked?
                  span Live Battles (PVP):
                  p When the rewards are huge, friends become opponents. Battle it out with friends and strangers to dominate the world.
                  p With over 100 Million Downloads Hago has received a lot of love from the players around the globe. Download and enjoy Games, Channels, Voice Chatting and have unlimited fun. Hago can be your getaway for all social and casual needs.
                  span 80+ Games:
                  p 180 seconds of endless fun and over 80+ games to play, this will be your new addiction. Ready to get hooked?
                  span Live Battles (PVP):

              div.describe__controls
                div.describe__button#describe-button
                  span.describe__button-text Show More

            div.changelog
              h2 HAGO - Play With New Friends 3.4.9 Update
              span 2019-10-10
              p Optimized app experience
            div.tags
              h2 HAGO - Play With New Friends Tags
              div.tags__link
                a(href='#') Social
                a(href='#') Hago Games
            div.technical-info
              h2 Technichal Information
              div.technical-info__wrap
                dic.technical-info__left
                  div.rate
                    span.rate__title Rating
                    div.rate__content
                      span.rate__sum 4.3
                        span /5
                      div.raiting
                        div.rateit(data-rateit-value='4.3', data-rateit-resetable='false')
                        span.raiting__total (2,231 total votes)
                div.technical-info__right
                  table.table
                    thead
                      tr
                        td Name
                        td
                          img.lazy(
                            src=require('media/images/loading.gif')
                            data-src=require('media/images/icon-small-26.png')
                            data-srcset=`${require('media/images/icon-small-26.png')} 1x, ${require('media/images/icon-big-52.png')} 2x`
                          )
                          | HAGO - Play With New Friends
                    tbody
                      tr.rating
                        td Rating
                        td
                          span.rateit(data-rateit-value='4.3', data-rateit-resetable='false')
                          span.vote 4.3

                      tr
                        td Price
                        td Free
                      tr
                        td Version
                        td com.twitter.android_8.7.0-release.81
                      tr
                        td Requires
                        td Android 4.3+
                      tr
                        td Updated
                        td 2019-10-31
                      tr
                        td Developer
                        td Twitter, Inc.
                      tr
                        td Name of Package
                        td com.twitter.android
                      tr
                        td Get it on
                        td
                          a(href='#')
                           span.icon.icon-googleplay
                           span Google Play

            a(href='#').btn-download.googleplay
              img(src=require('../../../media/images/icon-google-play.png'))

            //a(href='#').btn-download
            //  i.icon.icon-download
            //  span.bold Download APK
            //  span (13.1MB)

            div.banner
              a.banner__link(href='#' target='_blank')
                img.banner__img(src=require('../../../media/images/banner_2.png'))

            div.block-header
              div.block-header__left
                a.block-header__link(href='#')
                  h2.block-header__title Similar to HAGO - Play With New Friends
              div.block-header__right
                a.block-header__link(href='#') More &raquo;
            include ../../parts/apps-table-small
            div.block-header
              div.block-header__left
                a.block-header__link(href='#')
                  h2.block-header__title More From HAGO - Play With New Friends
              div.block-header__right
                a.block-header__link(href='#') More &raquo;
            div.apps-container.is-table
              ul.apps-container__list
                li.apps-container__el
                  div.app
                    div.app__left
                      a(href='#')
                        img.lazy(
                          src=require('../../../media/images/loading.gif') srcset='https://lh3.googleusercontent.com/4gbVU7H5-a_qzo0lrj_goQyorGUIFNo7oBzi2zUEqNIldoja15i01Si4tbCHceySsxlv=s70-rw 1x, https://lh3.googleusercontent.com/4gbVU7H5-a_qzo0lrj_goQyorGUIFNo7oBzi2zUEqNIldoja15i01Si4tbCHceySsxlv=s140-rw 2x')
                    div.app__right
                      a(href='#').app__name Ludo King
                      div.stars
                        span.stars__score(title='Tales of Wind average rating 7.9' style='width:79%')
                        span.stars__el 7.9
                      span.app__view Action
                      div.down
                        a(href='#') Download APK
                li.apps-container__el
                  div.app
                    div.app__left
                      a(href='#')
                        img.lazy(
                          src=require('../../../media/images/loading.gif') srcset='https://lh3.googleusercontent.com/4gbVU7H5-a_qzo0lrj_goQyorGUIFNo7oBzi2zUEqNIldoja15i01Si4tbCHceySsxlv=s70-rw 1x, https://lh3.googleusercontent.com/4gbVU7H5-a_qzo0lrj_goQyorGUIFNo7oBzi2zUEqNIldoja15i01Si4tbCHceySsxlv=s140-rw 2x')
                    div.app__right
                      a(href='#').app__name Sand Balls
                      div.stars
                        span.stars__score(title='Tales of Wind average rating 7.9' style='width:79%')
                        span.stars__el 7.9
                      span.app__view Action
                      div.down
                        a(href='#') Download APK
            div.comments
              img(src=require('../../../media/images/comments.png'))

          div.section__right
            aside.aside
              div.block-header
                div.block-header__left
                  h2.block-header__title Discover
                div.block-header__right
                  a.block-header__link(href='#') More &raquo;
              include ../../parts/apps-list
              div.block-header
                h2.block-header__title Popular Apps In Last 24 Hours
              include ../../parts/apps-list-label