extends ../base
block title
  |Apksitory
block main
  main.main
    div.breadcrumbs-wrap
      div.container
        ul.breadcrumbs
          li.breadcrumbs__el
            a.breadcrumbs__link(href='#')
              span.icon.icon-breadcumb-home
          li.breadcrumbs__el
            a.breadcrumbs__link(href='#') Twitter
          li.breadcrumbs__el
            a.breadcrumbs__link(href='#') Twitter APK - Android Download
    section.section.is-9-inner
      div.container
        div.section__wrap
          div.section__left
            h1.section__title Twitter APK - Android Download
            div.product
              div.product__left
                img.banner__img(src=require('../../../media/images/twitter.png'))
              div.product__right
                h1.product__title Twitter
                span.product__descr com.twitter.android_8.11.0-release.00
            div.banner
              a.banner__link(href='#' target='_blank')
                img.banner__img(src=require('../../../media/images/banner.png'))
            div.block-header
              div.block-header__left
                a.block-header__link(href='#')
                  h2.block-header__title Similar to Twitter
              div.block-header__right
                a.block-header__link(href='#') More &raquo;
            div.apps-container.is-table
              div.app
                div.app__left
                  a(href='#')
                    img(src=require('../../../media/images/icon-app.png'))
                div.app__right
                  a(href='#').app__name Ludo King
                  div.stars
                    span.score(title='Tales of Wind average rating 7.9' style='width:79%')
                    span.star 7.9
                  span.app__view Action
                  div.down
                    a(href='#') Download APK
              div.app
                div.app__left
                  a(href='#')
                    img(src=require('../../../media/images/icon-app.png'))
                div.app__right
                  a(href='#').app__name Sand Balls
                  div.stars
                    span.score(title='Tales of Wind average rating 6.9' style='width:69%')
                    span.star 6.9
                  span.app__view Action
                  div.down
                    a(href='#') Download APK
              div.app
                div.app__left
                  a(href='#')
                    img(src=require('../../../media/images/icon-app.png'))
                div.app__right
                  a(href='#').app__name Anti-Terrorism Commando Mission 2019
                  div.stars
                    span.score(title='Tales of Wind average rating 7.9' style='width:79%')
                    span.star 7.9
                  span.app__view Action
                  div.down
                    a(href='#') Download APK
              div.app
                div.app__left
                  a(href='#')
                    img(src=require('../../../media/images/icon-app.png'))
                div.app__right
                  a(href='#').app__name Sand Balls
                  div.stars
                    span.score(title='Tales of Wind average rating 6.9' style='width:69%')
                    span.star 6.9
                  span.app__view Action
                  div.down
                    a(href='#') Download APK
              div.app
                div.app__left
                  a(href='#')
                    img(src=require('../../../media/images/icon-app.png'))
                div.app__right
                  a(href='#').app__name Ludo King
                  div.stars
                    span.score(title='Tales of Wind average rating 7.9' style='width:79%')
                    span.star 7.9
                  span.app__view Action
                  div.down
                    a(href='#') Download APK
              div.app
                div.app__left
                  a(href='#')
                    img(src=require('../../../media/images/icon-app.png'))
                div.app__right
                  a(href='#').app__name Ludo King
                  div.stars
                    span.score(title='Tales of Wind average rating 7.9' style='width:79%')
                    span.star 7.9
                  span.app__view Action
                  div.down
                    a(href='#') Download APK
              div.app
                div.app__left
                  a(href='#')
                    img(src=require('../../../media/images/icon-app.png'))
                div.app__right
                  a(href='#').app__name Ludo King
                  div.stars
                    span.score(title='Tales of Wind average rating 7.9' style='width:79%')
                    span.star 7.9
                  span.app__view Action
                  div.down
                    a(href='#') Download APK
              div.app
                div.app__left
                  a(href='#')
                    img(src=require('../../../media/images/icon-app.png'))
                div.app__right
                  a(href='#').app__name Ludo King
                  div.stars
                    span.score(title='Tales of Wind average rating 7.9' style='width:79%')
                    span.star 7.9
                  span.app__view Action
                  div.down
                    a(href='#') Download APK
              div.app
                div.app__left
                  a(href='#')
                    img(src=require('../../../media/images/icon-app.png'))
                div.app__right
                  a(href='#').app__name Ludo King
                  div.stars
                    span.score(title='Tales of Wind average rating 7.9' style='width:79%')
                    span.star 7.9
                  span.app__view Action
                  div.down
                    a(href='#') Download APK
              div.app
                div.app__left
                  a(href='#')
                    img(src=require('../../../media/images/icon-app.png'))
                div.app__right
                  a(href='#').app__name Ludo King
                  div.stars
                    span.score(title='Tales of Wind average rating 7.9' style='width:79%')
                    span.star 7.9
                  span.app__view Action
                  div.down
                    a(href='#') Download APK
              div.app
                div.app__left
                  a(href='#')
                    img(src=require('../../../media/images/icon-app.png'))
                div.app__right
                  a(href='#').app__name Ludo King
                  div.stars
                    span.score(title='Tales of Wind average rating 7.9' style='width:79%')
                    span.star 7.9
                  span.app__view Action
                  div.down
                    a(href='#') Download APK
              div.app
                div.app__left
                  a(href='#')
                    img(src=require('../../../media/images/icon-app.png'))
                div.app__right
                  a(href='#').app__name Ludo King
                  div.stars
                    span.score(title='Tales of Wind average rating 7.9' style='width:79%')
                    span.star 7.9
                  span.app__view Action
                  div.down
                    a(href='#') Download APK
              div.description
                h2 How to get Twitter
                p On this page, you can download the Twitter app. To make the installation process easy and trouble-free, please follow the instructions below.

                h2 Installation on Android
                p There is one important thing you need to do before installing the Twitter app – check if your device meets the system requirements. To use Twitter on your device, it must have Android 4.4 or later. Also, make sure that you have enough free storage for downloading the app and installing it.

                h2 Links to Third Party Websites
                ul
                  li Open the Settings menu.
                  li Scroll the menu down to the submenu called “About Phone” (or “About Tablet” if you want to use Twitter on your      	   tablet).
                  li Single tap the submenu to open it.
                  li A new section with a list of options will open. Your current Android version will be on the list as well.
                p With over 100 Million Downloads Hago has received a lot of love from the players around the globe. Download and enjoy Games, Channels, Voice Chatting and have unlimited fun. Hago can be your getaway for all social and casual needs.
                span 80+ Games:
                p 180 seconds of endless fun and over 80+ games to play, this will be your new addiction. Ready to get hooked?
                span Live Battles (PVP):
                p When the rewards are huge, friends become opponents. Battle it out with friends and strangers to dominate the world.
                img(src=require('../../../media/images/android.png'))
                p Important note: remember that the “About Phone/Tablet” section may look different on your device.
                p If you cannot find the Android version with this method, try to open this link – http://whatsmyos.com/ – on your device. When the page is loaded, you will see the Android version written at the top of the screen.
                h3 Links to Third Party Websites
                p This is also a very important step, and we do not recommend skipping it and jumping to the download section without checking how much free space you actually have. It takes just a few seconds:
                ul
                  li Open the Settings menu on your phone/tablet.
                  li Find the Storage submenu and open it.
                img(src=require('../../../media/images/storage.png'))
                p Also, keep in mind that some manufacturers prefer to show how much memory you have used instead of showing the amount of free memory left. In this situation, you need to calculate the free storage space yourself.
                p When all requirements are met, you can proceed to install the Twitter app on your device. On this page, you can select to download the app from our servers or go to the Google Play to get the official app from the developers. If you choose Google Play, all you will need to do is to tap the Install button on the app’s page. The installation process will be initiated and conducted automatically.
                p If you chose to download the APK file from our servers, the algorithm of your actions will be a bit different. After the app is downloaded, tap on the APK file in your Notification tray and launch the installation manually. Alternatively, you can open the folder with your Downloads in the app drawer or with the help of any file manager. Follow the on-screen instructions to complete the installation.
                h3 Installing on iOS
                p We also recommend checking the system requirements and iOS version compatibility before installing Twitter on any iOS device. At the time of writing this guide, you need to have iOS 9.0 or later to use the app on your iPhone, iPod touch, or iPad. In addition to that, you need 300MB of free storage space to install the app. Also, remember that the installer itself is about 30MB in size.
                h3 Version and Memory
                p To find out the current version of iOS you have on your device, open the Settings menu, go to the General section, then tap About. Here you will see the general capacity of the device. The amount of free storage available to you can also be checked in this section.
                img(src=require('../../../media/images/version.png'))
                p For more detailed information visit the official Apple website (or click this link: https://support.apple.com/en-us/HT201685).
                p Now, when you are sure that nothing prevents you from installing Twitter on your iOS device, you can proceed to download the installer. On this page, you need to click the Download from App Store button.
                p You will be transferred directly to the official application store. There you will find the latest version of the app provided by its developers. Tap the Install button, and the installation process will be initiated and conducted automatically.

          div.section__right
            aside.aside
              div.block-header
                div.block-header__left
                  h2.block-header__title Top Downloads
                div.block-header__right
                  a.block-header__link(href='#') More &raquo;
              div.apps-container.is-list
                div.app
                  div.label-wrap.is-red
                    div.label
                      span 1
                  div.app__left
                    a(href='#')
                      img(src=require('../../../media/images/app.png'))
                  div.app__right
                    a(href='#').app__name Minecraft Earth
                    span.app__version 2019.1030.04.0
                    span.app__view Tools
                    div.down
                      a(href='#') Download APK
                div.app
                  div.label-wrap.is-orange
                    div.label
                      span 2
                  div.app__left
                    a(href='#')
                      img(src=require('../../../media/images/app.png'))
                  div.app__right
                    a(href='#').app__name Minecraft Earth
                    span.app__version 2019.1030.04.0
                    span.app__view Tools
                    div.down
                      a(href='#') Download APK
                div.app
                  div.label-wrap.is-yellow
                    div.label
                      span 3
                  div.app__left
                    a(href='#')
                      img(src=require('../../../media/images/app.png'))
                  div.app__right
                    a(href='#').app__name Minecraft Earth
                    span.app__version 2019.1030.04.0
                    span.app__view Tools
                    div.down
                      a(href='#') Download APK
                div.app
                  div.label-wrap
                    div.label
                      span 4
                  div.app__left
                    a(href='#')
                      img(src=require('../../../media/images/app.png'))
                  div.app__right
                    a(href='#').app__name Minecraft Earth
                    span.app__version 2019.1030.04.0
                    span.app__view Tools
                    div.down
                      a(href='#') Download APK
                div.app
                  div.label-wrap
                    div.label
                      span 5
                  div.app__left
                    a(href='#')
                      img(src=require('../../../media/images/app.png'))
                  div.app__right
                    a(href='#').app__name Minecraft Earth
                    span.app__version 2019.1030.04.0
                    span.app__view Tools
                    div.down
                      a(href='#') Download APK
                div.app
                  div.label-wrap
                    div.label
                      span 6
                  div.app__left
                    a(href='#')
                      img(src=require('../../../media/images/app.png'))
                  div.app__right
                    a(href='#').app__name Minecraft Earth
                    span.app__version 2019.1030.04.0
                    span.app__view Tools
                    div.down
                      a(href='#') Download APK
                div.app
                  div.label-wrap
                    div.label
                      span 7
                  div.app__left
                    a(href='#')
                      img(src=require('../../../media/images/app.png'))
                  div.app__right
                    a(href='#').app__name Minecraft Earth
                    span.app__version 2019.1030.04.0
                    span.app__view Tools
                    div.down
                      a(href='#') Download APK
                div.app
                  div.label-wrap
                    div.label
                      span 8
                  div.app__left
                    a(href='#')
                      img(src=require('../../../media/images/app.png'))
                  div.app__right
                    a(href='#').app__name Minecraft Earth
                    span.app__version 2019.1030.04.0
                    span.app__view Tools
                    div.down
                      a(href='#') Download APK
                div.app
                  div.label-wrap
                    div.label
                      span 9
                  div.app__left
                    a(href='#')
                      img(src=require('../../../media/images/app.png'))
                  div.app__right
                    a(href='#').app__name Minecraft Earth
                    span.app__version 2019.1030.04.0
                    span.app__view Tools
                    div.down
                      a(href='#') Download APK
                div.app
                  div.label-wrap
                    div.label
                      span 10
                  div.app__left
                    a(href='#')
                      img(src=require('../../../media/images/app.png'))
                  div.app__right
                    a(href='#').app__name Minecraft Earth
                    span.app__version 2019.1030.04.0
                    span.app__view Tools
                    div.down
                      a(href='#') Download APK