div.apps-container.is-list
  div.app
    div.app__left
      a(href='#')
        img.lazy(
        src=require('../../media/images/loading.gif') srcset='https://lh3.googleusercontent.com/4gbVU7H5-a_qzo0lrj_goQyorGUIFNo7oBzi2zUEqNIldoja15i01Si4tbCHceySsxlv=s70-rw 1x, https://lh3.googleusercontent.com/4gbVU7H5-a_qzo0lrj_goQyorGUIFNo7oBzi2zUEqNIldoja15i01Si4tbCHceySsxlv=s140-rw 2x')
    div.app__right
      a(href='#').app__name Minecraft Earth
      span.app__version 2019.1030.04.0
      span.app__view Tools
      div.down
        a(href='#') Download APK
  div.app
    div.app__left
      a(href='#')
        img.lazy(
        src=require('../../media/images/loading.gif') srcset='https://lh3.googleusercontent.com/4gbVU7H5-a_qzo0lrj_goQyorGUIFNo7oBzi2zUEqNIldoja15i01Si4tbCHceySsxlv=s70-rw 1x, https://lh3.googleusercontent.com/4gbVU7H5-a_qzo0lrj_goQyorGUIFNo7oBzi2zUEqNIldoja15i01Si4tbCHceySsxlv=s140-rw 2x')
    div.app__right
      a(href='#').app__name Minecraft Earth
      span.app__version 2019.1030.04.0
      span.app__view Tools
      div.down
        a(href='#') Download APK
  div.app
    div.app__left
      a(href='#')
        img.lazy(
          src=require('../../media/images/loading.gif') srcset='https://lh3.googleusercontent.com/4gbVU7H5-a_qzo0lrj_goQyorGUIFNo7oBzi2zUEqNIldoja15i01Si4tbCHceySsxlv=s70-rw 1x, https://lh3.googleusercontent.com/4gbVU7H5-a_qzo0lrj_goQyorGUIFNo7oBzi2zUEqNIldoja15i01Si4tbCHceySsxlv=s140-rw 2x')
    div.app__right
      a(href='#').app__name Minecraft Earth
      span.app__version 2019.1030.04.0
      span.app__view Tools
      div.down
        a(href='#') Download APK
  div.app
    div.app__left
      a(href='#')
        img.lazy(
          src=require('../../media/images/loading.gif') srcset='https://lh3.googleusercontent.com/4gbVU7H5-a_qzo0lrj_goQyorGUIFNo7oBzi2zUEqNIldoja15i01Si4tbCHceySsxlv=s70-rw 1x, https://lh3.googleusercontent.com/4gbVU7H5-a_qzo0lrj_goQyorGUIFNo7oBzi2zUEqNIldoja15i01Si4tbCHceySsxlv=s140-rw 2x')
    div.app__right
      a(href='#').app__name Minecraft Earth
      span.app__version 2019.1030.04.0
      span.app__view Tools
      div.down
        a(href='#') Download APK
  div.app
    div.app__left
      a(href='#')
        img.lazy(
          src=require('../../media/images/loading.gif') srcset='https://lh3.googleusercontent.com/4gbVU7H5-a_qzo0lrj_goQyorGUIFNo7oBzi2zUEqNIldoja15i01Si4tbCHceySsxlv=s70-rw 1x, https://lh3.googleusercontent.com/4gbVU7H5-a_qzo0lrj_goQyorGUIFNo7oBzi2zUEqNIldoja15i01Si4tbCHceySsxlv=s140-rw 2x')
    div.app__right
      a(href='#').app__name Minecraft Earth
      span.app__version 2019.1030.04.0
      span.app__view Tools
      div.down
        a(href='#') Download APK
  div.app
    div.app__left
      a(href='#')
        img.lazy(
          src=require('../../media/images/loading.gif') srcset='https://lh3.googleusercontent.com/4gbVU7H5-a_qzo0lrj_goQyorGUIFNo7oBzi2zUEqNIldoja15i01Si4tbCHceySsxlv=s70-rw 1x, https://lh3.googleusercontent.com/4gbVU7H5-a_qzo0lrj_goQyorGUIFNo7oBzi2zUEqNIldoja15i01Si4tbCHceySsxlv=s140-rw 2x')
    div.app__right
      a(href='#').app__name Minecraft Earth
      span.app__version 2019.1030.04.0
      span.app__view Tools
      div.down
        a(href='#') Download APK
  div.app
    div.app__left
      a(href='#')
        img.lazy(
          src=require('../../media/images/loading.gif') srcset='https://lh3.googleusercontent.com/4gbVU7H5-a_qzo0lrj_goQyorGUIFNo7oBzi2zUEqNIldoja15i01Si4tbCHceySsxlv=s70-rw 1x, https://lh3.googleusercontent.com/4gbVU7H5-a_qzo0lrj_goQyorGUIFNo7oBzi2zUEqNIldoja15i01Si4tbCHceySsxlv=s140-rw 2x')
    div.app__right
      a(href='#').app__name Minecraft Earth
      span.app__version 2019.1030.04.0
      span.app__view Tools
      div.down
        a(href='#') Download APK
  div.app
    div.app__left
      a(href='#')
        img.lazy(
          src=require('../../media/images/loading.gif') srcset='https://lh3.googleusercontent.com/4gbVU7H5-a_qzo0lrj_goQyorGUIFNo7oBzi2zUEqNIldoja15i01Si4tbCHceySsxlv=s70-rw 1x, https://lh3.googleusercontent.com/4gbVU7H5-a_qzo0lrj_goQyorGUIFNo7oBzi2zUEqNIldoja15i01Si4tbCHceySsxlv=s140-rw 2x')
    div.app__right
      a(href='#').app__name Minecraft Earth
      span.app__version 2019.1030.04.0
      span.app__view Tools
      div.down
        a(href='#') Download APK
  div.app
    div.app__left
      a(href='#')
        img.lazy(
          src=require('../../media/images/loading.gif') srcset='https://lh3.googleusercontent.com/4gbVU7H5-a_qzo0lrj_goQyorGUIFNo7oBzi2zUEqNIldoja15i01Si4tbCHceySsxlv=s70-rw 1x, https://lh3.googleusercontent.com/4gbVU7H5-a_qzo0lrj_goQyorGUIFNo7oBzi2zUEqNIldoja15i01Si4tbCHceySsxlv=s140-rw 2x')
    div.app__right
      a(href='#').app__name Minecraft Earth
      span.app__version 2019.1030.04.0
      span.app__view Tools
      div.down
        a(href='#') Download APK
  div.app
    div.app__left
      a(href='#')
        img.lazy(
          src=require('../../media/images/loading.gif') srcset='https://lh3.googleusercontent.com/4gbVU7H5-a_qzo0lrj_goQyorGUIFNo7oBzi2zUEqNIldoja15i01Si4tbCHceySsxlv=s70-rw 1x, https://lh3.googleusercontent.com/4gbVU7H5-a_qzo0lrj_goQyorGUIFNo7oBzi2zUEqNIldoja15i01Si4tbCHceySsxlv=s140-rw 2x')
    div.app__right
      a(href='#').app__name Minecraft Earth
      span.app__version 2019.1030.04.0
      span.app__view Tools
      div.down
        a(href='#') Download APK