div.apps-container.is-table
  div.app
    div.app__left
      a(href='#')
        img.lazy(
          src=require('../../media/images/loading.gif') srcset='https://lh3.googleusercontent.com/4gbVU7H5-a_qzo0lrj_goQyorGUIFNo7oBzi2zUEqNIldoja15i01Si4tbCHceySsxlv=s70-rw 1x, https://lh3.googleusercontent.com/4gbVU7H5-a_qzo0lrj_goQyorGUIFNo7oBzi2zUEqNIldoja15i01Si4tbCHceySsxlv=s140-rw 2x')
    div.app__right
      a(href='#').app__name Ludo King
      div.stars
        span.stars__score(title='Tales of Wind average rating 7.9' style='width:79%')
        span.stars__el 7.9
      span.app__view Action
      div.down
        a(href='#') Download APK
  div.app
    div.app__left
      a(href='#')
        img.lazy(
          src=require('../../media/images/loading.gif') srcset='https://lh3.googleusercontent.com/4gbVU7H5-a_qzo0lrj_goQyorGUIFNo7oBzi2zUEqNIldoja15i01Si4tbCHceySsxlv=s70-rw 1x, https://lh3.googleusercontent.com/4gbVU7H5-a_qzo0lrj_goQyorGUIFNo7oBzi2zUEqNIldoja15i01Si4tbCHceySsxlv=s140-rw 2x')
    div.app__right
      a(href='#').app__name Sand Balls
      div.stars
        span.stars__score(title='Tales of Wind average rating 7.9' style='width:79%')
        span.stars__el 7.9
      span.app__view Action
      div.down
        a(href='#') Download APK
  div.app
    div.app__left
      a(href='#')
        img.lazy(
          src=require('../../media/images/loading.gif') srcset='https://lh3.googleusercontent.com/4gbVU7H5-a_qzo0lrj_goQyorGUIFNo7oBzi2zUEqNIldoja15i01Si4tbCHceySsxlv=s70-rw 1x, https://lh3.googleusercontent.com/4gbVU7H5-a_qzo0lrj_goQyorGUIFNo7oBzi2zUEqNIldoja15i01Si4tbCHceySsxlv=s140-rw 2x')
    div.app__right
      a(href='#').app__name Anti-Terrorism Commando Mission 2019
      div.stars
        span.stars__score(title='Tales of Wind average rating 7.9' style='width:79%')
        span.stars__el 7.9
      span.app__view Action
      div.down
        a(href='#') Download APK
  div.app
    div.app__left
      a(href='#')
        img.lazy(
          src=require('../../media/images/loading.gif') srcset='https://lh3.googleusercontent.com/4gbVU7H5-a_qzo0lrj_goQyorGUIFNo7oBzi2zUEqNIldoja15i01Si4tbCHceySsxlv=s70-rw 1x, https://lh3.googleusercontent.com/4gbVU7H5-a_qzo0lrj_goQyorGUIFNo7oBzi2zUEqNIldoja15i01Si4tbCHceySsxlv=s140-rw 2x')
    div.app__right
      a(href='#').app__name Sand Balls
      div.stars
        span.stars__score(title='Tales of Wind average rating 7.9' style='width:79%')
        span.stars__el 7.9
      span.app__view Action
      div.down
        a(href='#') Download APK
  div.app
    div.app__left
      a(href='#')
        img.lazy(
          src=require('../../media/images/loading.gif') srcset='https://lh3.googleusercontent.com/4gbVU7H5-a_qzo0lrj_goQyorGUIFNo7oBzi2zUEqNIldoja15i01Si4tbCHceySsxlv=s70-rw 1x, https://lh3.googleusercontent.com/4gbVU7H5-a_qzo0lrj_goQyorGUIFNo7oBzi2zUEqNIldoja15i01Si4tbCHceySsxlv=s140-rw 2x')
    div.app__right
      a(href='#').app__name Ludo King
      div.stars
        span.stars__score(title='Tales of Wind average rating 7.9' style='width:79%')
        span.stars__el 7.9
      span.app__view Action
      div.down
        a(href='#') Download APK
  div.app
    div.app__left
      a(href='#')
        img.lazy(
          src=require('../../media/images/loading.gif') srcset='https://lh3.googleusercontent.com/4gbVU7H5-a_qzo0lrj_goQyorGUIFNo7oBzi2zUEqNIldoja15i01Si4tbCHceySsxlv=s70-rw 1x, https://lh3.googleusercontent.com/4gbVU7H5-a_qzo0lrj_goQyorGUIFNo7oBzi2zUEqNIldoja15i01Si4tbCHceySsxlv=s140-rw 2x')
    div.app__right
      a(href='#').app__name Ludo King
      div.stars
        span.stars__score(title='Tales of Wind average rating 7.9' style='width:79%')
        span.stars__el 7.9
      span.app__view Action
      div.down
        a(href='#') Download APK