div.apps-container.is-table
  div.app
    div.app__left
      a(href='#')
        img(src=require('../../../media/images/icon-app.png'))
    div.app__right
      a(href='#').app__name Ludo King
      div.stars
        span.score(title='Tales of Wind average rating 7.9' style='width:79%')
        span.star 7.9
      span.app__view Action
      div.down
        a(href='#') Download APK
  div.app
    div.app__left
      a(href='#')
        img(src=require('../../../media/images/icon-app.png'))
    div.app__right
      a(href='#').app__name Sand Balls
      div.stars
        span.score(title='Tales of Wind average rating 6.9' style='width:69%')
        span.star 6.9
      span.app__view Action
      div.down
        a(href='#') Download APK
  div.app
    div.app__left
      a(href='#')
        img(src=require('../../../media/images/icon-app.png'))
    div.app__right
      a(href='#').app__name Anti-Terrorism Commando Mission 2019
      div.stars
        span.score(title='Tales of Wind average rating 7.9' style='width:79%')
        span.star 7.9
      span.app__view Action
      div.down
        a(href='#') Download APK
  div.app
    div.app__left
      a(href='#')
        img(src=require('../../../media/images/icon-app.png'))
    div.app__right
      a(href='#').app__name Sand Balls
      div.stars
        span.score(title='Tales of Wind average rating 6.9' style='width:69%')
        span.star 6.9
      span.app__view Action
      div.down
        a(href='#') Download APK
  div.app
    div.app__left
      a(href='#')
        img(src=require('../../../media/images/icon-app.png'))
    div.app__right
      a(href='#').app__name Ludo King
      div.stars
        span.score(title='Tales of Wind average rating 7.9' style='width:79%')
        span.star 7.9
      span.app__view Action
      div.down
        a(href='#') Download APK
  div.app
    div.app__left
      a(href='#')
        img(src=require('../../../media/images/icon-app.png'))
    div.app__right
      a(href='#').app__name Ludo King
      div.stars
        span.score(title='Tales of Wind average rating 7.9' style='width:79%')
        span.star 7.9
      span.app__view Action
      div.down
        a(href='#') Download APK
  div.app
    div.app__left
      a(href='#')
        img(src=require('../../../media/images/icon-app.png'))
    div.app__right
      a(href='#').app__name Ludo King
      div.stars
        span.score(title='Tales of Wind average rating 7.9' style='width:79%')
        span.star 7.9
      span.app__view Action
      div.down
        a(href='#') Download APK
  div.app
    div.app__left
      a(href='#')
        img(src=require('../../../media/images/icon-app.png'))
    div.app__right
      a(href='#').app__name Ludo King
      div.stars
        span.score(title='Tales of Wind average rating 7.9' style='width:79%')
        span.star 7.9
      span.app__view Action
      div.down
        a(href='#') Download APK
  div.app
    div.app__left
      a(href='#')
        img(src=require('../../../media/images/icon-app.png'))
    div.app__right
      a(href='#').app__name Ludo King
      div.stars
        span.score(title='Tales of Wind average rating 7.9' style='width:79%')
        span.star 7.9
      span.app__view Action
      div.down
        a(href='#') Download APK
  div.app
    div.app__left
      a(href='#')
        img(src=require('../../../media/images/icon-app.png'))
    div.app__right
      a(href='#').app__name Ludo King
      div.stars
        span.score(title='Tales of Wind average rating 7.9' style='width:79%')
        span.star 7.9
      span.app__view Action
      div.down
        a(href='#') Download APK
  div.app
    div.app__left
      a(href='#')
        img(src=require('../../../media/images/icon-app.png'))
    div.app__right
      a(href='#').app__name Ludo King
      div.stars
        span.score(title='Tales of Wind average rating 7.9' style='width:79%')
        span.star 7.9
      span.app__view Action
      div.down
        a(href='#') Download APK
  div.app
    div.app__left
      a(href='#')
        img(src=require('../../../media/images/icon-app.png'))
    div.app__right
      a(href='#').app__name Ludo King
      div.stars
        span.score(title='Tales of Wind average rating 7.9' style='width:79%')
        span.star 7.9
      span.app__view Action
      div.down
        a(href='#') Download APK