extends ../base
block title
  |Apksitory
block main
  main.main
    div.breadcrumbs-wrap
      div.container
        ul.breadcrumbs
          li.breadcrumbs__el
            a.breadcrumbs__link(href='#')
              span.icon.icon-breadcumb-home
          li.breadcrumbs__el
            a.breadcrumbs__link(href='#') Search - sims
    section.section.is-10-inner
      div.container
        div.section__wrap
          div.section__left
            //div.search
            //  form.search__form
            //    div.search__field
            //      span.search__icon
            //        i.icon.icon-search
            //      input.input(type='text', placeholder='Search here')
            //    div.search__action
            //      button.btn(type='submit')
            //        span Search
            div.banner
              a.banner__link(href='#' target='_blank')
                img.banner__img(src=require('../../../media/images/banner.png'))
            div.apps-big
              ul.apps-big__List
                li.apps-big__el
                  div.app-big
                    div.app-big__left
                      a(href='#')
                        img(src=require('../../../media/images/app-big.png'))
                    div.app-big__right
                      a(href='#').app-big__name The Sims™ Mobile
                      div.stars
                        span.score(title='rating 6.9' style='width:69%')
                        span.star 6.9
                      span.app-big__dev Developer:
                        a(href='#') ELECTRONIC ARTS
                      div.btn-download
                        a(href='#') Download APK
                li.apps-big__el
                  div.app-big
                    div.app-big__left
                      a(href='#')
                        img(src=require('../../../media/images/app-big.png'))
                    div.app-big__right
                      a(href='#').app-big__name The Sims™ FreePlay
                      div.stars
                        span.score(title='rating 6.9' style='width:69%')
                        span.star 6.9
                      span.app-big__dev Developer:
                        a(href='#') ELECTRONIC ARTS
                      div.btn-download
                        a(href='#') Download APK
                li.apps-big__el
                  div.app-big
                    div.app-big__left
                      a(href='#')
                        img(src=require('../../../media/images/app-big.png'))
                    div.app-big__right
                      a(href='#').app-big__name Home Street – Home Design Game
                      div.stars
                        span.score(title='rating 6.9' style='width:69%')
                        span.star 6.9
                      span.app-big__dev Developer:
                        a(href='#') ELECTRONIC ARTS
                      div.btn-download
                        a(href='#') Download APK
                li.apps-big__el
                  div.app-big
                    div.app-big__left
                      a(href='#')
                        img(src=require('../../../media/images/app-big.png'))
                    div.app-big__right
                      a(href='#').app-big__name The Sims™ Mobile
                      div.stars
                        span.score(title='rating 6.9' style='width:69%')
                        span.star 6.9
                      span.app-big__dev Developer:
                        a(href='#') ELECTRONIC ARTS
                      div.btn-download
                        a(href='#') Download APK
                li.apps-big__el
                  div.app-big
                    div.app-big__left
                      a(href='#')
                        img(src=require('../../../media/images/app-big.png'))
                    div.app-big__right
                      a(href='#').app-big__name The Sims™ FreePlay
                      div.stars
                        span.score(title='rating 6.9' style='width:69%')
                        span.star 6.9
                      span.app-big__dev Developer:
                        a(href='#') ELECTRONIC ARTS
                      div.btn-download
                        a(href='#') Download APK
                li.apps-big__el
                  div.app-big
                    div.app-big__left
                      a(href='#')
                        img(src=require('../../../media/images/app-big.png'))
                    div.app-big__right
                      a(href='#').app-big__name Home Street – Home Design Game
                      div.stars
                        span.score(title='rating 6.9' style='width:69%')
                        span.star 6.9
                      span.app-big__dev Developer:
                        a(href='#') ELECTRONIC ARTS
                      div.btn-download
                        a(href='#') Download APK
                li.apps-big__el
                  div.app-big
                    div.app-big__left
                      a(href='#')
                        img(src=require('../../../media/images/app-big.png'))
                    div.app-big__right
                      a(href='#').app-big__name The Sims™ Mobile
                      div.stars
                        span.score(title='rating 6.9' style='width:69%')
                        span.star 6.9
                      span.app-big__dev Developer:
                        a(href='#') ELECTRONIC ARTS
                      div.btn-download
                        a(href='#') Download APK
                li.apps-big__el
                  div.app-big
                    div.app-big__left
                      a(href='#')
                        img(src=require('../../../media/images/app-big.png'))
                    div.app-big__right
                      a(href='#').app-big__name The Sims™ FreePlay
                      div.stars
                        span.score(title='rating 6.9' style='width:69%')
                        span.star 6.9
                      span.app-big__dev Developer:
                        a(href='#') ELECTRONIC ARTS
                      div.btn-download
                        a(href='#') Download APK
                li.apps-big__el
                  div.app-big
                    div.app-big__left
                      a(href='#')
                        img(src=require('../../../media/images/app-big.png'))
                    div.app-big__right
                      a(href='#').app-big__name Home Street – Home Design Game
                      div.stars
                        span.score(title='rating 6.9' style='width:69%')
                        span.star 6.9
                      span.app-big__dev Developer:
                        a(href='#') ELECTRONIC ARTS
                      div.btn-download
                        a(href='#') Download APK
                li.apps-big__el
                  div.app-big
                    div.app-big__left
                      a(href='#')
                        img(src=require('../../../media/images/app-big.png'))
                    div.app-big__right
                      a(href='#').app-big__name The Sims™ FreePlay
                      div.stars
                        span.score(title='rating 6.9' style='width:69%')
                        span.star 6.9
                      span.app-big__dev Developer:
                        a(href='#') ELECTRONIC ARTS
                      div.btn-download
                        a(href='#') Download APK
              div.apps-big__more
                a(href='#').btn-transparent More &raquo;

          div.section__right
            aside.aside
              div.block-header
                div.block-header__left
                  h2.block-header__title Top Downloads
                div.block-header__right
                  a.block-header__link(href='#') More &raquo;
              div.apps-container.is-list
                div.app
                  div.label-wrap.is-red
                    div.label
                      span 1
                  div.app__left
                    a(href='#')
                      img(src=require('../../../media/images/app.png'))
                  div.app__right
                    a(href='#').app__name Minecraft Earth
                    span.app__version 2019.1030.04.0
                    span.app__view Tools
                    div.down
                      a(href='#') Download APK
                div.app
                  div.label-wrap.is-orange
                    div.label
                      span 2
                  div.app__left
                    a(href='#')
                      img(src=require('../../../media/images/app.png'))
                  div.app__right
                    a(href='#').app__name Minecraft Earth
                    span.app__version 2019.1030.04.0
                    span.app__view Tools
                    div.down
                      a(href='#') Download APK
                div.app
                  div.label-wrap.is-yellow
                    div.label
                      span 3
                  div.app__left
                    a(href='#')
                      img(src=require('../../../media/images/app.png'))
                  div.app__right
                    a(href='#').app__name Minecraft Earth
                    span.app__version 2019.1030.04.0
                    span.app__view Tools
                    div.down
                      a(href='#') Download APK
                div.app
                  div.label-wrap
                    div.label
                      span 4
                  div.app__left
                    a(href='#')
                      img(src=require('../../../media/images/app.png'))
                  div.app__right
                    a(href='#').app__name Minecraft Earth
                    span.app__version 2019.1030.04.0
                    span.app__view Tools
                    div.down
                      a(href='#') Download APK
                div.app
                  div.label-wrap
                    div.label
                      span 5
                  div.app__left
                    a(href='#')
                      img(src=require('../../../media/images/app.png'))
                  div.app__right
                    a(href='#').app__name Minecraft Earth
                    span.app__version 2019.1030.04.0
                    span.app__view Tools
                    div.down
                      a(href='#') Download APK
                div.app
                  div.label-wrap
                    div.label
                      span 6
                  div.app__left
                    a(href='#')
                      img(src=require('../../../media/images/app.png'))
                  div.app__right
                    a(href='#').app__name Minecraft Earth
                    span.app__version 2019.1030.04.0
                    span.app__view Tools
                    div.down
                      a(href='#') Download APK
                div.app
                  div.label-wrap
                    div.label
                      span 7
                  div.app__left
                    a(href='#')
                      img(src=require('../../../media/images/app.png'))
                  div.app__right
                    a(href='#').app__name Minecraft Earth
                    span.app__version 2019.1030.04.0
                    span.app__view Tools
                    div.down
                      a(href='#') Download APK
                div.app
                  div.label-wrap
                    div.label
                      span 8
                  div.app__left
                    a(href='#')
                      img(src=require('../../../media/images/app.png'))
                  div.app__right
                    a(href='#').app__name Minecraft Earth
                    span.app__version 2019.1030.04.0
                    span.app__view Tools
                    div.down
                      a(href='#') Download APK
                div.app
                  div.label-wrap
                    div.label
                      span 9
                  div.app__left
                    a(href='#')
                      img(src=require('../../../media/images/app.png'))
                  div.app__right
                    a(href='#').app__name Minecraft Earth
                    span.app__version 2019.1030.04.0
                    span.app__view Tools
                    div.down
                      a(href='#') Download APK
                div.app
                  div.label-wrap
                    div.label
                      span 10
                  div.app__left
                    a(href='#')
                      img(src=require('../../../media/images/app.png'))
                  div.app__right
                    a(href='#').app__name Minecraft Earth
                    span.app__version 2019.1030.04.0
                    span.app__view Tools
                    div.down
                      a(href='#') Download APK
