extends ../base
block title
  |Apksitory
block main
  main.main
    div.breadcrumbs-wrap
      div.container
        ul.breadcrumbs
          li.breadcrumbs__el
            a.breadcrumbs__link(href='#')
              span.icon.icon-breadcumb-home
          li.breadcrumbs__el
            a.breadcrumbs__link(href='#') Search - sims
    section.section.is-10-inner
      div.container
        div.section__wrap
          div.section__left
            div.search.is-big
              form.search__form
                div.search__field
                  span.search__icon
                    i.icon.icon-search
                  input.input(type='text')
                div.search__action
                  button.btn(type='submit')
                    span Search
            div.banner
              a.banner__link(href='#' target='_blank')
                img.banner__img(src=require('../../../media/images/banner.png'))
            div.results 50 search results found.
            div.apps-big
              ul.apps-big__List
                li.apps-big__el
                  div.app-big
                    div.app-big__left
                      a(href='#')
                        img.lazy(
                          src=require('media/images/loading.gif')
                          data-src=require('media/images/icon-small-120.png')
                          data-srcset=`${require('media/images/icon-small-120.png')} 1x, ${require('media/images/icon-big-240.png')} 2x`
                        )
                    div.app-big__right
                      a(href='#').app-big__name The Sims™ Mobile
                      div.stars
                        span.stars__score(title='Tales of Wind average rating 7.9' style='width:79%')
                        span.stars__el 7.9
                      span.app-big__dev Developer:
                        a(href='#') ELECTRONIC ARTS
                      div.btn-download
                        a(href='#') Download APK
                li.apps-big__el
                  div.app-big
                    div.app-big__left
                      a(href='#')
                        img.lazy(
                          src=require('media/images/loading.gif')
                          data-src=require('media/images/icon-small-120.png')
                          data-srcset=`${require('media/images/icon-small-120.png')} 1x, ${require('media/images/icon-big-240.png')} 2x`
                        )
                    div.app-big__right
                      a(href='#').app-big__name The Sims™ FreePlay
                      div.stars
                        span.stars__score(title='Tales of Wind average rating 7.9' style='width:79%')
                        span.stars__el 7.9
                      span.app-big__dev Developer:
                        a(href='#') ELECTRONIC ARTS
                      div.btn-download
                        a(href='#') Download APK
                li.apps-big__el
                  div.app-big
                    div.app-big__left
                      a(href='#')
                        img.lazy(
                          src=require('media/images/loading.gif')
                          data-src=require('media/images/icon-small-120.png')
                          data-srcset=`${require('media/images/icon-small-120.png')} 1x, ${require('media/images/icon-big-240.png')} 2x`
                        )
                    div.app-big__right
                      a(href='#').app-big__name Home Street – Home Design Game
                      div.stars
                        span.stars__score(title='Tales of Wind average rating 7.9' style='width:79%')
                        span.stars__el 7.9
                      span.app-big__dev Developer:
                        a(href='#') ELECTRONIC ARTS
                      div.btn-download
                        a(href='#') Download APK
                li.apps-big__el
                  div.app-big
                    div.app-big__left
                      a(href='#')
                        img.lazy(
                          src=require('media/images/loading.gif')
                          data-src=require('media/images/icon-small-120.png')
                          data-srcset=`${require('media/images/icon-small-120.png')} 1x, ${require('media/images/icon-big-240.png')} 2x`
                        )
                    div.app-big__right
                      a(href='#').app-big__name The Sims™ Mobile
                      div.stars
                        span.stars__score(title='Tales of Wind average rating 7.9' style='width:79%')
                        span.stars__el 7.9
                      span.app-big__dev Developer:
                        a(href='#') ELECTRONIC ARTS
                      div.btn-download
                        a(href='#') Download APK
                li.apps-big__el
                  div.app-big
                    div.app-big__left
                      a(href='#')
                        img.lazy(
                          src=require('media/images/loading.gif')
                          data-src=require('media/images/icon-small-120.png')
                          data-srcset=`${require('media/images/icon-small-120.png')} 1x, ${require('media/images/icon-big-240.png')} 2x`
                        )
                    div.app-big__right
                      a(href='#').app-big__name The Sims™ FreePlay
                      div.stars
                        span.stars__score(title='Tales of Wind average rating 7.9' style='width:79%')
                        span.stars__el 7.9
                      span.app-big__dev Developer:
                        a(href='#') ELECTRONIC ARTS
                      div.btn-download
                        a(href='#') Download APK
                li.apps-big__el
                  div.app-big
                    div.app-big__left
                      a(href='#')
                        img.lazy(
                          src=require('media/images/loading.gif')
                          data-src=require('media/images/icon-small-120.png')
                          data-srcset=`${require('media/images/icon-small-120.png')} 1x, ${require('media/images/icon-big-240.png')} 2x`
                        )
                    div.app-big__right
                      a(href='#').app-big__name Home Street – Home Design Game
                      div.stars
                        span.stars__score(title='Tales of Wind average rating 7.9' style='width:79%')
                        span.stars__el 7.9
                      span.app-big__dev Developer:
                        a(href='#') ELECTRONIC ARTS
                      div.btn-download
                        a(href='#') Download APK
                li.apps-big__el
                  div.app-big
                    div.app-big__left
                      a(href='#')
                        img.lazy(
                          src=require('media/images/loading.gif')
                          data-src=require('media/images/icon-small-120.png')
                          data-srcset=`${require('media/images/icon-small-120.png')} 1x, ${require('media/images/icon-big-240.png')} 2x`
                        )
                    div.app-big__right
                      a(href='#').app-big__name The Sims™ Mobile
                      div.stars
                        span.stars__score(title='Tales of Wind average rating 7.9' style='width:79%')
                        span.stars__el 7.9
                      span.app-big__dev Developer:
                        a(href='#') ELECTRONIC ARTS
                      div.btn-download
                        a(href='#') Download APK
                li.apps-big__el
                  div.app-big
                    div.app-big__left
                      a(href='#')
                        img.lazy(
                          src=require('media/images/loading.gif')
                          data-src=require('media/images/icon-small-120.png')
                          data-srcset=`${require('media/images/icon-small-120.png')} 1x, ${require('media/images/icon-big-240.png')} 2x`
                        )
                    div.app-big__right
                      a(href='#').app-big__name The Sims™ FreePlay
                      div.stars
                        span.stars__score(title='Tales of Wind average rating 7.9' style='width:79%')
                        span.stars__el 7.9
                      span.app-big__dev Developer:
                        a(href='#') ELECTRONIC ARTS
                      div.btn-download
                        a(href='#') Download APK
                li.apps-big__el
                  div.app-big
                    div.app-big__left
                      a(href='#')
                        img.lazy(
                          src=require('media/images/loading.gif')
                          data-src=require('media/images/icon-small-120.png')
                          data-srcset=`${require('media/images/icon-small-120.png')} 1x, ${require('media/images/icon-big-240.png')} 2x`
                        )
                    div.app-big__right
                      a(href='#').app-big__name Home Street – Home Design Game
                      div.stars
                        span.stars__score(title='Tales of Wind average rating 7.9' style='width:79%')
                        span.stars__el 7.9
                      span.app-big__dev Developer:
                        a(href='#') ELECTRONIC ARTS
                      div.btn-download
                        a(href='#') Download APK
                li.apps-big__el
                  div.app-big
                    div.app-big__left
                      a(href='#')
                        img.lazy(
                          src=require('media/images/loading.gif')
                          data-src=require('media/images/icon-small-120.png')
                          data-srcset=`${require('media/images/icon-small-120.png')} 1x, ${require('media/images/icon-big-240.png')} 2x`
                        )
                    div.app-big__right
                      a(href='#').app-big__name The Sims™ FreePlay
                      div.stars
                        span.stars__score(title='Tales of Wind average rating 7.9' style='width:79%')
                        span.stars__el 7.9
                      span.app-big__dev Developer:
                        a(href='#') ELECTRONIC ARTS
                      div.btn-download
                        a(href='#') Download APK
              div.apps-big__more
                a(href='#').btn-transparent More &raquo;

          div.section__right
            aside.aside
              div.block-header
                div.block-header__left
                  h2.block-header__title Top Downloads
                div.block-header__right
                  a.block-header__link(href='#') More &raquo;
              include ../../parts/apps-list-label
