extends ../base
block title
  |Apksitory
block main
  main.main
    div.breadcrumbs-wrap
      div.container
        ul.breadcrumbs
          li.breadcrumbs__el
            a.breadcrumbs__link(href='#')
              span.icon.icon-breadcumb-home
          li.breadcrumbs__el
            a.breadcrumbs__link(href='#') Popular Games In Last 24 Hours
    section.section.is-2-inner
      div.container
        div.wrap-container
          h1.section__title Popular Games In Last 24 Hours
          div.sorting
            span Sort by:
            ul.sorting__list
              li.sorting__el
                a(href='#') Downloads
              li.sorting__el.is-active
                a(href='#') Latest Update
              li.sorting__el
                a(href='#') Rating
        div.games
          div.game
            div.game__wrap
              a(href='#').game__link
                img(src=require('../../../media/images/game.png')).game__img
            div.game__bottom
              a(href='#').game__name Garena Free Fire: Winterlands
              div.stars
                span.score(title='Tales of Wind average rating 6.9' style='width:69%')
                span.star 6.9
              a(href='#') Download APK
          div.game
            div.game__wrap
              a(href='#').game__link
                img(src=require('../../../media/images/game-2.png')).game__img
            div.game__bottom
              a(href='#').game__name Tales of Wind
              div.stars
                span.score(title='Tales of Wind average rating 6.9' style='width:69%')
                span.star 6.9
              a(href='#') Download APK
          div.game
            div.game__wrap
              a(href='#').game__link
                img(src=require('../../../media/images/game-3.png')).game__img
            div.game__bottom
              a(href='#').game__name PUBG MOBILE
              div.stars
                span.score(title='Tales of Wind average rating 6.9' style='width:69%')
                span.star 6.9
              a(href='#') Download APK
          div.game
            div.game__wrap
              a(href='#').game__link
                img(src=require('../../../media/images/game.png')).game__img
            div.game__bottom
              a(href='#').game__name Garena Free Fire: Winterlands
              div.stars
                span.score(title='Tales of Wind average rating 6.9' style='width:69%')
                span.star 6.9
              a(href='#') Download APK
          div.game
            div.game__wrap
              a(href='#').game__link
                img(src=require('../../../media/images/game-2.png')).game__img
            div.game__bottom
              a(href='#').game__name Tales of Wind
              div.stars
                span.score(title='Tales of Wind average rating 6.9' style='width:69%')
                span.star 6.9
              a(href='#') Download APK
          div.game
            div.game__wrap
              a(href='#').game__link
                img(src=require('../../../media/images/game-3.png')).game__img
            div.game__bottom
              a(href='#').game__name PUBG MOBILE
              div.stars
                span.score(title='Tales of Wind average rating 6.9' style='width:69%')
                span.star 6.9
              a(href='#') Download APK
          div.game
            div.game__wrap
              a(href='#').game__link
                img(src=require('../../../media/images/game.png')).game__img
            div.game__bottom
              a(href='#').game__name Garena Free Fire: Winterlands
              div.stars
                span.score(title='Tales of Wind average rating 6.9' style='width:69%')
                span.star 6.9
              a(href='#') Download APK
          div.game
            div.game__wrap
              a(href='#').game__link
                img(src=require('../../../media/images/game-2.png')).game__img
            div.game__bottom
              a(href='#').game__name Tales of Wind
              div.stars
                span.score(title='Tales of Wind average rating 6.9' style='width:69%')
                span.star 6.9
              a(href='#') Download APK
          div.game
            div.game__wrap
              a(href='#').game__link
                img(src=require('../../../media/images/game-3.png')).game__img
            div.game__bottom
              a(href='#').game__name PUBG MOBILE
              div.stars
                span.score(title='Tales of Wind average rating 6.9' style='width:69%')
                span.star 6.9
              a(href='#') Download APK
          div.game
            div.game__wrap
              a(href='#').game__link
                img(src=require('../../../media/images/game.png')).game__img
            div.game__bottom
              a(href='#').game__name Garena Free Fire: Winterlands
              div.stars
                span.score(title='Tales of Wind average rating 6.9' style='width:69%')
                span.star 6.9
              a(href='#') Download APK
          div.game
            div.game__wrap
              a(href='#').game__link
                img(src=require('../../../media/images/game-2.png')).game__img
            div.game__bottom
              a(href='#').game__name Tales of Wind
              div.stars
                span.score(title='Tales of Wind average rating 6.9' style='width:69%')
                span.star 6.9
              a(href='#') Download APK
          div.game
            div.game__wrap
              a(href='#').game__link
                img(src=require('../../../media/images/game-3.png')).game__img
            div.game__bottom
              a(href='#').game__name PUBG MOBILE
              div.stars
                span.score(title='Tales of Wind average rating 6.9' style='width:69%')
                span.star 6.9
              a(href='#') Download APK
          div.game
            div.game__wrap
              a(href='#').game__link
                img(src=require('../../../media/images/game.png')).game__img
            div.game__bottom
              a(href='#').game__name Garena Free Fire: Winterlands
              div.stars
                span.score(title='Tales of Wind average rating 6.9' style='width:69%')
                span.star 6.9
              a(href='#') Download APK
          div.game
            div.game__wrap
              a(href='#').game__link
                img(src=require('../../../media/images/game-2.png')).game__img
            div.game__bottom
              a(href='#').game__name Tales of Wind
              div.stars
                span.score(title='Tales of Wind average rating 6.9' style='width:69%')
                span.star 6.9
              a(href='#') Download APK
          div.game
            div.game__wrap
              a(href='#').game__link
                img(src=require('../../../media/images/game-3.png')).game__img
            div.game__bottom
              a(href='#').game__name PUBG MOBILE
              div.stars
                span.score(title='Tales of Wind average rating 6.9' style='width:69%')
                span.star 6.9
              a(href='#') Download APK
          div.game
            div.game__wrap
              a(href='#').game__link
                img(src=require('../../../media/images/game.png')).game__img
            div.game__bottom
              a(href='#').game__name Garena Free Fire: Winterlands
              div.stars
                span.score(title='Tales of Wind average rating 6.9' style='width:69%')
                span.star 6.9
              a(href='#') Download APK
          div.game
            div.game__wrap
              a(href='#').game__link
                img(src=require('../../../media/images/game-2.png')).game__img
            div.game__bottom
              a(href='#').game__name Tales of Wind
              div.stars
                span.score(title='Tales of Wind average rating 6.9' style='width:69%')
                span.star 6.9
              a(href='#') Download APK
          div.game
            div.game__wrap
              a(href='#').game__link
                img(src=require('../../../media/images/game-3.png')).game__img
            div.game__bottom
              a(href='#').game__name PUBG MOBILE
              div.stars
                span.score(title='Tales of Wind average rating 6.9' style='width:69%')
                span.star 6.9
              a(href='#') Download APK
          div.game
            div.game__wrap
              a(href='#').game__link
                img(src=require('../../../media/images/game.png')).game__img
            div.game__bottom
              a(href='#').game__name Garena Free Fire: Winterlands
              div.stars
                span.score(title='Tales of Wind average rating 6.9' style='width:69%')
                span.star 6.9
              a(href='#') Download APK
          div.game
            div.game__wrap
              a(href='#').game__link
                img(src=require('../../../media/images/game-2.png')).game__img
            div.game__bottom
              a(href='#').game__name Tales of Wind
              div.stars
                span.score(title='Tales of Wind average rating 6.9' style='width:69%')
                span.star 6.9
              a(href='#') Download APK
          div.game
            div.game__wrap
              a(href='#').game__link
                img(src=require('../../../media/images/game-3.png')).game__img
            div.game__bottom
              a(href='#').game__name PUBG MOBILE
              div.stars
                span.score(title='Tales of Wind average rating 6.9' style='width:69%')
                span.star 6.9
              a(href='#') Download APK
          div.game
            div.game__wrap
              a(href='#').game__link
                img(src=require('../../../media/images/game.png')).game__img
            div.game__bottom
              a(href='#').game__name Garena Free Fire: Winterlands
              div.stars
                span.score(title='Tales of Wind average rating 6.9' style='width:69%')
                span.star 6.9
              a(href='#') Download APK
          div.game
            div.game__wrap
              a(href='#').game__link
                img(src=require('../../../media/images/game-2.png')).game__img
            div.game__bottom
              a(href='#').game__name Tales of Wind
              div.stars
                span.score(title='Tales of Wind average rating 6.9' style='width:69%')
                span.star 6.9
              a(href='#') Download APK
          div.game
            div.game__wrap
              a(href='#').game__link
                img(src=require('../../../media/images/game-3.png')).game__img
            div.game__bottom
              a(href='#').game__name PUBG MOBILE
              div.stars
                span.score(title='Tales of Wind average rating 6.9' style='width:69%')
                span.star 6.9
              a(href='#') Download APK
          div.game
            div.game__wrap
              a(href='#').game__link
                img(src=require('../../../media/images/game.png')).game__img
            div.game__bottom
              a(href='#').game__name Garena Free Fire: Winterlands
              div.stars
                span.score(title='Tales of Wind average rating 6.9' style='width:69%')
                span.star 6.9
              a(href='#') Download APK
          div.game
            div.game__wrap
              a(href='#').game__link
                img(src=require('../../../media/images/game-2.png')).game__img
            div.game__bottom
              a(href='#').game__name Tales of Wind
              div.stars
                span.score(title='Tales of Wind average rating 6.9' style='width:69%')
                span.star 6.9
              a(href='#') Download APK
          div.game
            div.game__wrap
              a(href='#').game__link
                img(src=require('../../../media/images/game-3.png')).game__img
            div.game__bottom
              a(href='#').game__name PUBG MOBILE
              div.stars
                span.score(title='Tales of Wind average rating 6.9' style='width:69%')
                span.star 6.9
              a(href='#') Download APK
          div.game
            div.game__wrap
              a(href='#').game__link
                img(src=require('../../../media/images/game.png')).game__img
            div.game__bottom
              a(href='#').game__name Garena Free Fire: Winterlands
              div.stars
                span.score(title='Tales of Wind average rating 6.9' style='width:69%')
                span.star 6.9
              a(href='#') Download APK
          div.game
            div.game__wrap
              a(href='#').game__link
                img(src=require('../../../media/images/game-2.png')).game__img
            div.game__bottom
              a(href='#').game__name Tales of Wind
              div.stars
                span.score(title='Tales of Wind average rating 6.9' style='width:69%')
                span.star 6.9
              a(href='#') Download APK
          div.game
            div.game__wrap
              a(href='#').game__link
                img(src=require('../../../media/images/game-3.png')).game__img
            div.game__bottom
              a(href='#').game__name PUBG MOBILE
              div.stars
                span.score(title='Tales of Wind average rating 6.9' style='width:69%')
                span.star 6.9
              a(href='#') Download APK
        a(href='#').games-more More &raquo;