extends ../base
block title
  |Apksitory
block main
  main.main
    div.breadcrumbs
      div.container
        a.breadcrumbs__link(href='#')
          span.icon.icon-breadcumb-home
        a.breadcrumbs__link(href='#') Popular Games In Last 24 Hours
    section.section.is-2-inner
      div.container
        div.wrap-container
          h1.section__title Popular Games In Last 24 Hours
          div.sorting
            span Sort by:
            ul.sorting__list
              li.sorting__el
                a(href='#') Downloads
              li.sorting__el.is-active
                a(href='#') Latest Update
              li.sorting__el
                a(href='#') Rating
        div.games
          div.game
            div.game__wrap
              a(href='#').game__link
                img.lazy(
                  src=require('media/images/loading.gif')
                  data-src=require('media/images/icon-small-100.png')
                  data-srcset=`${require('media/images/icon-small-100.png')} 1x, ${require('media/images/icon-big-200.png')} 2x`
                )
            div.game__bottom
              a(href='#').game__name Garena Free Fire: Winterlands
              div.stars
                span.stars__score(title='Tales of Wind average rating 7.9' style='width:79%')
                span.stars__el 7.9
              a(href='#').game__download Download APK
          div.game
            div.game__wrap
              a(href='#').game__link
                img.lazy(
                  src=require('media/images/loading.gif')
                  data-src=require('media/images/icon-small-100.png')
                  data-srcset=`${require('media/images/icon-small-100.png')} 1x, ${require('media/images/icon-big-200.png')} 2x`
                )
            div.game__bottom
              a(href='#').game__name Tales of Wind
              div.stars
                span.stars__score(title='Tales of Wind average rating 7.9' style='width:79%')
                span.stars__el 7.9
              a(href='#').game__download Download APK
          div.game
            div.game__wrap
              a(href='#').game__link
                img.lazy(
                  src=require('media/images/loading.gif')
                  data-src=require('media/images/icon-small-100.png')
                  data-srcset=`${require('media/images/icon-small-100.png')} 1x, ${require('media/images/icon-big-200.png')} 2x`
                )
            div.game__bottom
              a(href='#').game__name PUBG MOBILE
              div.stars
                span.stars__score(title='Tales of Wind average rating 7.9' style='width:79%')
                span.stars__el 7.9
              a(href='#').game__download Download APK
          div.game
            div.game__wrap
              a(href='#').game__link
                img.lazy(
                  src=require('media/images/loading.gif')
                  data-src=require('media/images/icon-small-100.png')
                  data-srcset=`${require('media/images/icon-small-100.png')} 1x, ${require('media/images/icon-big-200.png')} 2x`
                )
            div.game__bottom
              a(href='#').game__name Garena Free Fire: Winterlands
              div.stars
                span.stars__score(title='Tales of Wind average rating 7.9' style='width:79%')
                span.stars__el 7.9
              a(href='#').game__download Download APK
          div.game
            div.game__wrap
              a(href='#').game__link
                img.lazy(
                src=require('media/images/loading.gif')
                data-src=require('media/images/icon-small-100.png')
                data-srcset=`${require('media/images/icon-small-100.png')} 1x, ${require('media/images/icon-big-200.png')} 2x`
              )
            div.game__bottom
              a(href='#').game__name Garena Free Fire: Winterlands
              div.stars
                span.stars__score(title='Tales of Wind average rating 7.9' style='width:79%')
                span.stars__el 7.9
              a(href='#').game__download Download APK
          div.game
            div.game__wrap
              a(href='#').game__link
                img.lazy(
                src=require('media/images/loading.gif')
                data-src=require('media/images/icon-small-100.png')
                data-srcset=`${require('media/images/icon-small-100.png')} 1x, ${require('media/images/icon-big-200.png')} 2x`
              )
            div.game__bottom
              a(href='#').game__name Tales of Wind
              div.stars
                span.stars__score(title='Tales of Wind average rating 7.9' style='width:79%')
                span.stars__el 7.9
              a(href='#').game__download Download APK
          div.game
            div.game__wrap
              a(href='#').game__link
                img.lazy(
                src=require('media/images/loading.gif')
                data-src=require('media/images/icon-small-100.png')
                data-srcset=`${require('media/images/icon-small-100.png')} 1x, ${require('media/images/icon-big-200.png')} 2x`
              )
            div.game__bottom
              a(href='#').game__name PUBG MOBILE
              div.stars
                span.stars__score(title='Tales of Wind average rating 7.9' style='width:79%')
                span.stars__el 7.9
              a(href='#').game__download Download APK
          div.game
            div.game__wrap
              a(href='#').game__link
                img.lazy(
                src=require('media/images/loading.gif')
                data-src=require('media/images/icon-small-100.png')
                data-srcset=`${require('media/images/icon-small-100.png')} 1x, ${require('media/images/icon-big-200.png')} 2x`
              )
            div.game__bottom
              a(href='#').game__name Garena Free Fire: Winterlands
              div.stars
                span.stars__score(title='Tales of Wind average rating 7.9' style='width:79%')
                span.stars__el 7.9
              a(href='#').game__download Download APK
          div.game
            div.game__wrap
              a(href='#').game__link
                img.lazy(
                src=require('media/images/loading.gif')
                data-src=require('media/images/icon-small-100.png')
                data-srcset=`${require('media/images/icon-small-100.png')} 1x, ${require('media/images/icon-big-200.png')} 2x`
              )
            div.game__bottom
              a(href='#').game__name Garena Free Fire: Winterlands
              div.stars
                span.stars__score(title='Tales of Wind average rating 7.9' style='width:79%')
                span.stars__el 7.9
              a(href='#').game__download Download APK
          div.game
            div.game__wrap
              a(href='#').game__link
                img.lazy(
                src=require('media/images/loading.gif')
                data-src=require('media/images/icon-small-100.png')
                data-srcset=`${require('media/images/icon-small-100.png')} 1x, ${require('media/images/icon-big-200.png')} 2x`
              )
            div.game__bottom
              a(href='#').game__name Tales of Wind
              div.stars
                span.stars__score(title='Tales of Wind average rating 7.9' style='width:79%')
                span.stars__el 7.9
              a(href='#').game__download Download APK
          div.game
            div.game__wrap
              a(href='#').game__link
                img.lazy(
                src=require('media/images/loading.gif')
                data-src=require('media/images/icon-small-100.png')
                data-srcset=`${require('media/images/icon-small-100.png')} 1x, ${require('media/images/icon-big-200.png')} 2x`
              )
            div.game__bottom
              a(href='#').game__name PUBG MOBILE
              div.stars
                span.stars__score(title='Tales of Wind average rating 7.9' style='width:79%')
                span.stars__el 7.9
              a(href='#').game__download Download APK
          div.game
            div.game__wrap
              a(href='#').game__link
                img.lazy(
                src=require('media/images/loading.gif')
                data-src=require('media/images/icon-small-100.png')
                data-srcset=`${require('media/images/icon-small-100.png')} 1x, ${require('media/images/icon-big-200.png')} 2x`
              )
            div.game__bottom
              a(href='#').game__name Garena Free Fire: Winterlands
              div.stars
                span.stars__score(title='Tales of Wind average rating 7.9' style='width:79%')
                span.stars__el 7.9
              a(href='#').game__download Download APK
          div.game
            div.game__wrap
              a(href='#').game__link
                img.lazy(
                  src=require('media/images/loading.gif')
                  data-src=require('media/images/icon-small-100.png')
                  data-srcset=`${require('media/images/icon-small-100.png')} 1x, ${require('media/images/icon-big-200.png')} 2x`
                )
            div.game__bottom
              a(href='#').game__name Garena Free Fire: Winterlands
              div.stars
                span.stars__score(title='Tales of Wind average rating 7.9' style='width:79%')
                span.stars__el 7.9
              a(href='#').game__download Download APK
          div.game
            div.game__wrap
              a(href='#').game__link
                img.lazy(
                  src=require('media/images/loading.gif')
                  data-src=require('media/images/icon-small-100.png')
                  data-srcset=`${require('media/images/icon-small-100.png')} 1x, ${require('media/images/icon-big-200.png')} 2x`
                )
            div.game__bottom
              a(href='#').game__name Tales of Wind
              div.stars
                span.stars__score(title='Tales of Wind average rating 7.9' style='width:79%')
                span.stars__el 7.9
              a(href='#').game__download Download APK
          div.game
            div.game__wrap
              a(href='#').game__link
                img.lazy(
                  src=require('media/images/loading.gif')
                  data-src=require('media/images/icon-small-100.png')
                  data-srcset=`${require('media/images/icon-small-100.png')} 1x, ${require('media/images/icon-big-200.png')} 2x`
                )
            div.game__bottom
              a(href='#').game__name PUBG MOBILE
              div.stars
                span.stars__score(title='Tales of Wind average rating 7.9' style='width:79%')
                span.stars__el 7.9
              a(href='#').game__download Download APK
          div.game
            div.game__wrap
              a(href='#').game__link
                img.lazy(
                  src=require('media/images/loading.gif')
                  data-src=require('media/images/icon-small-100.png')
                  data-srcset=`${require('media/images/icon-small-100.png')} 1x, ${require('media/images/icon-big-200.png')} 2x`
                )
            div.game__bottom
              a(href='#').game__name Garena Free Fire: Winterlands
              div.stars
                span.stars__score(title='Tales of Wind average rating 7.9' style='width:79%')
                span.stars__el 7.9
              a(href='#').game__download Download APK
          div.game
            div.game__wrap
              a(href='#').game__link
                img.lazy(
                  src=require('media/images/loading.gif')
                  data-src=require('media/images/icon-small-100.png')
                  data-srcset=`${require('media/images/icon-small-100.png')} 1x, ${require('media/images/icon-big-200.png')} 2x`
                )
            div.game__bottom
              a(href='#').game__name Garena Free Fire: Winterlands
              div.stars
                span.stars__score(title='Tales of Wind average rating 7.9' style='width:79%')
                span.stars__el 7.9
              a(href='#').game__download Download APK
          div.game
            div.game__wrap
              a(href='#').game__link
                img.lazy(
                  src=require('media/images/loading.gif')
                  data-src=require('media/images/icon-small-100.png')
                  data-srcset=`${require('media/images/icon-small-100.png')} 1x, ${require('media/images/icon-big-200.png')} 2x`
                )
            div.game__bottom
              a(href='#').game__name Tales of Wind
              div.stars
                span.stars__score(title='Tales of Wind average rating 7.9' style='width:79%')
                span.stars__el 7.9
              a(href='#').game__download Download APK
          div.game
            div.game__wrap
              a(href='#').game__link
                img.lazy(
                  src=require('media/images/loading.gif')
                  data-src=require('media/images/icon-small-100.png')
                  data-srcset=`${require('media/images/icon-small-100.png')} 1x, ${require('media/images/icon-big-200.png')} 2x`
                )
            div.game__bottom
              a(href='#').game__name PUBG MOBILE
              div.stars
                span.stars__score(title='Tales of Wind average rating 7.9' style='width:79%')
                span.stars__el 7.9
              a(href='#').game__download Download APK
          div.game
            div.game__wrap
              a(href='#').game__link
                img.lazy(
                  src=require('media/images/loading.gif')
                  data-src=require('media/images/icon-small-100.png')
                  data-srcset=`${require('media/images/icon-small-100.png')} 1x, ${require('media/images/icon-big-200.png')} 2x`
                )
            div.game__bottom
              a(href='#').game__name Garena Free Fire: Winterlands
              div.stars
                span.stars__score(title='Tales of Wind average rating 7.9' style='width:79%')
                span.stars__el 7.9
              a(href='#').game__download Download APK
          div.game
            div.game__wrap
              a(href='#').game__link
                img.lazy(
                  src=require('media/images/loading.gif')
                  data-src=require('media/images/icon-small-100.png')
                  data-srcset=`${require('media/images/icon-small-100.png')} 1x, ${require('media/images/icon-big-200.png')} 2x`
                )
            div.game__bottom
              a(href='#').game__name Garena Free Fire: Winterlands
              div.stars
                span.stars__score(title='Tales of Wind average rating 7.9' style='width:79%')
                span.stars__el 7.9
              a(href='#').game__download Download APK
          div.game
            div.game__wrap
              a(href='#').game__link
                img.lazy(
                  src=require('media/images/loading.gif')
                  data-src=require('media/images/icon-small-100.png')
                  data-srcset=`${require('media/images/icon-small-100.png')} 1x, ${require('media/images/icon-big-200.png')} 2x`
                )
            div.game__bottom
              a(href='#').game__name Tales of Wind
              div.stars
                span.stars__score(title='Tales of Wind average rating 7.9' style='width:79%')
                span.stars__el 7.9
              a(href='#').game__download Download APK
          div.game
            div.game__wrap
              a(href='#').game__link
                img.lazy(
                  src=require('media/images/loading.gif')
                  data-src=require('media/images/icon-small-100.png')
                  data-srcset=`${require('media/images/icon-small-100.png')} 1x, ${require('media/images/icon-big-200.png')} 2x`
                )
            div.game__bottom
              a(href='#').game__name PUBG MOBILE
              div.stars
                span.stars__score(title='Tales of Wind average rating 7.9' style='width:79%')
                span.stars__el 7.9
              a(href='#').game__download Download APK
          div.game
            div.game__wrap
              a(href='#').game__link
                img.lazy(
                  src=require('media/images/loading.gif')
                  data-src=require('media/images/icon-small-100.png')
                  data-srcset=`${require('media/images/icon-small-100.png')} 1x, ${require('media/images/icon-big-200.png')} 2x`
                )
            div.game__bottom
              a(href='#').game__name Garena Free Fire: Winterlands
              div.stars
                span.stars__score(title='Tales of Wind average rating 7.9' style='width:79%')
                span.stars__el 7.9
              a(href='#').game__download Download APK
          div.game
            div.game__wrap
              a(href='#').game__link
                img.lazy(
                src=require('media/images/loading.gif')
                data-src=require('media/images/icon-small-100.png')
                data-srcset=`${require('media/images/icon-small-100.png')} 1x, ${require('media/images/icon-big-200.png')} 2x`
            )
            div.game__bottom
              a(href='#').game__name PUBG MOBILE
              div.stars
                span.stars__score(title='Tales of Wind average rating 7.9' style='width:79%')
                span.stars__el 7.9
              a(href='#').game__download Download APK
          div.game
            div.game__wrap
              a(href='#').game__link
                img.lazy(
                  src=require('media/images/loading.gif')
                  data-src=require('media/images/icon-small-100.png')
                  data-srcset=`${require('media/images/icon-small-100.png')} 1x, ${require('media/images/icon-big-200.png')} 2x`
            )
            div.game__bottom
              a(href='#').game__name Garena Free Fire: Winterlands
              div.stars
                span.stars__score(title='Tales of Wind average rating 7.9' style='width:79%')
                span.stars__el 7.9
              a(href='#').game__download Download APK
          div.game
            div.game__wrap
              a(href='#').game__link
                img.lazy(
                  src=require('media/images/loading.gif')
                  data-src=require('media/images/icon-small-100.png')
                  data-srcset=`${require('media/images/icon-small-100.png')} 1x, ${require('media/images/icon-big-200.png')} 2x`
                )
            div.game__bottom
              a(href='#').game__name Garena Free Fire: Winterlands
              div.stars
                span.stars__score(title='Tales of Wind average rating 7.9' style='width:79%')
                span.stars__el 7.9
              a(href='#').game__download Download APK
          div.game
            div.game__wrap
              a(href='#').game__link
                img.lazy(
                  src=require('media/images/loading.gif')
                  data-src=require('media/images/icon-small-100.png')
                  data-srcset=`${require('media/images/icon-small-100.png')} 1x, ${require('media/images/icon-big-200.png')} 2x`
                )
            div.game__bottom
              a(href='#').game__name Tales of Wind
              div.stars
                span.stars__score(title='Tales of Wind average rating 7.9' style='width:79%')
                span.stars__el 7.9
              a(href='#').game__download Download APK
          div.game
            div.game__wrap
              a(href='#').game__link
                img.lazy(
                  src=require('media/images/loading.gif')
                  data-src=require('media/images/icon-small-100.png')
                  data-srcset=`${require('media/images/icon-small-100.png')} 1x, ${require('media/images/icon-big-200.png')} 2x`
                )
            div.game__bottom
              a(href='#').game__name PUBG MOBILE
              div.stars
                span.stars__score(title='Tales of Wind average rating 7.9' style='width:79%')
                span.stars__el 7.9
              a(href='#').game__download Download APK
          div.game
            div.game__wrap
              a(href='#').game__link
                img.lazy(
                  src=require('media/images/loading.gif')
                  data-src=require('media/images/icon-small-100.png')
                  data-srcset=`${require('media/images/icon-small-100.png')} 1x, ${require('media/images/icon-big-200.png')} 2x`
                )
            div.game__bottom
              a(href='#').game__name Garena Free Fire: Winterlands
              div.stars
                span.stars__score(title='Tales of Wind average rating 7.9' style='width:79%')
                span.stars__el 7.9
              a(href='#').game__download Download APK
        div.games__btn-more
          a(href='#').btn-transparent More &raquo;